<div class="nextprevprod btn-group">
    {% if (products['prev'] is defined) %}
		<button id="prev-prod-btn" type="button" onclick="location.href='{{ products['prev']['href'] }}'" class="btn prev-prod-btn {% if (products['next'] is not defined) %}no-next{% endif %}"><i class="fa fa-angle-left"></i><span>{{ products['prev']['name'] }}</span></button>
	{% endif %}
    {% if (products['next'] is defined) %}
		<button id="next-prod-btn" type="button" onclick="location.href='{{ products['next']['href'] }}'" class="btn next-prod-btn {% if (products['prev'] is not defined) %}no-prev{% endif %}"><span>{{ products['next']['name'] }}</span><i class="fa fa-angle-right"></i></button>
    {% endif %}
</div>
<script>
{% if (products['prev'] is defined) %}
var prevPopoverProd = {
    html: true,
	placement: 'bottom',
	trigger: 'hover',
	content: function() {
		html  = '<div class="popover-pr-image"><img class="img-responsive" src="{{ products['prev']['image'] }}" title="" alt="" /></div>';
		html += '<div class="popover-pr-name">{{ products['prev']['name'] }}</div>';
		html += '<div class="price">';
		html += '	{% if (products['prev']['price']) %}';
		html += '	  {% if (not products['prev']['special']) %}';
		html += '		<span>{{ products['prev']['price'] }}</span>';
		html += '	  {% else %}';
		html += '		<span class="price-old"><span>{{ products['prev']['price'] }}</span></span> <span class="price-new"><span>{{ products['prev']['special'] }}</span></span>';
		html += '	  {% endif %}';
		html += '	{% endif %}';
		html += '</div>';
		return html;
	}
}
{% else %}
var prevPopoverProd = '';
{% endif %}
{% if (products['next'] is defined) %}
var nextPopoverProd = {
    html: true,
		placement: 'bottom',
		trigger: 'hover',
		content: function() {
			html  = '<div class="popover-pr-image"><img class="img-responsive" src="{{ products['next']['image'] }}" title="" alt="" /></div>';
			html += '<div class="popover-pr-name">{{ products['next']['name'] }}</div>';
			html += '<div class="price">';
			html += '	{% if (products['next']['price']) %}';
			html += '	  {% if (not products['next']['special']) %}';
			html += '		<span>{{ products['next']['price'] }}</span>';
			html += '	  {% else %}';
			html += '		<span class="price-old"><span>{{ products['next']['price'] }}</span></span> <span class="price-new"><span>{{ products['next']['special'] }}</span></span>';
			html += '	  {% endif %}';
			html += '	{% endif %}';
			html += '</div>';
			return html;
}
}
{% else %}
var nextPopoverProd = '';
{% endif %}
{% if (products['prev'] is defined) %}
$('.prev-prod-btn').popover(prevPopoverProd);
 {% endif %}
 {% if (products['next'] is defined) %}
$('.next-prod-btn').popover(nextPopoverProd);
{% endif %}
</script>
<div class="clearfix"></div>
