{{ header }}
<div class="container">
<div class="col-sm-12 content-box-cs">
<div class="breadcrumbs-box">
	<ul class="breadcrumb">
		{% for i,breadcrumb in breadcrumbs %}
			{% if (i+1 < breadcrumbs|length) %}
				<li><a href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a></li>
			{% else %}
				<li><span>{{ breadcrumb.text }}</span></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
  <div class="row">{{ column_left }}
	{% if (column_left and column_right) %}
	{% set class = 'col-sm-4 col-md-6' %}
	{% elseif (column_left or column_right) %}
	{% set class = 'col-sm-8 col-md-9' %}
	{% else %}
	{% set class = 'col-sm-12' %}
	{% endif %}
	<div id="content" class="{{ class }}">
	<h1 class="h1-prod-name">{{ heading_title }}</h1>
	{{ content_top }}
	  <div class="row fix">
		{% if (cyber_product_page_tabs is defined and cyber_product_page_tabs == '1') %}
	  <div class="product-page-tabs">
		<div class="box__tabs">
		<div class="tabs__header">
		  <div class="tabs__header__scroll">
			<ul class="nav nav-tabs my-tabs">
			  <li class="tabs__active_line"></li>
			  <li class="active"><a href="#tab-info-product" data-toggle="tab">{{ text_tab_info_product }}</a></li>
			  {% if (attribute_groups) %}
			  <li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
			  {% endif %}
			  {% if (review_status) %}
			  <li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
			  {% endif %}
			  {% if (qadata['status'] is defined) %}
			  <li><a href="#tab-question-answer" data-toggle="tab">{{ tab_question_answer }}</a></li>
			  {% endif %}
			  {% if (product_additional_tabs is defined) %}
			  {% set additional_tab_i=0 %} {% for product_additional_tab in product_additional_tabs %}
			  <li><a href="#product_additional_tabs{{ additional_tab_i }}" data-toggle="tab"><i class="{{ product_additional_tab['icon_tabs'] }}"></i> {{ product_additional_tab['title'] }}</a></li>
			  {% set additional_tab_i = additional_tab_i + 1 %} {% endfor %}
			  {% endif %}
			</ul>
		  </div>
		</div>
		<div class="tab-content">
		<div class="tab-pane active" id="tab-info-product">
		<div class="main_block_product">
		 {% endif %}
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-7 {% if (fix_left_block is defined and (fix_left_block == '1')) %}sticky-left-block{% endif %}">
		  {% if (thumb or images) %}
				<div id="fix_image">
				<div class="thumbnails">
					{% if (thumb) %}
						<div class="general-image{% if (images) %} have-images{% endif %}">
							<div id="image-box">
								<div class="stickers-ns">
									{% if ((on_off_sticker_special == '1') and special) %}
										<div class="sticker-ns special">
											<i class="fa {{ config_change_icon_sticker_special }} "></i>
											<span>{{ text_sticker_special[lang_id]['config_change_text_sticker_special'] }}</span>
										</div>
									{% endif %}
									{% if ((on_off_sticker_topbestseller == '1') and (top_bestsellers >= config_limit_order_product_topbestseller)) %}
										<div class="sticker-ns bestseller">
											<i class="fa {{ config_change_icon_sticker_topbestseller }} "></i>
											<span>{{ text_sticker_topbestseller[lang_id]['config_change_text_sticker_topbestseller'] }}</span>
										</div>
									{% endif %}
									{% if ((on_off_sticker_popular == '1') and (viewed>=config_min_quantity_popular)) %}
										<div class="sticker-ns popular">
											<i class="fa {{ config_change_icon_sticker_popular }} "></i>
											<span>{{ text_sticker_popular[lang_id]['config_change_text_sticker_popular'] }}</span>
										</div>
									{% endif %}
									{% if on_off_sticker_newproduct == '1' and sticker_new_prod %}
										<div class="sticker-ns newproduct">
											<i class="fa {{ config_change_icon_sticker_newproduct }}"></i>
											{{ text_sticker_newproduct[lang_id]['config_change_text_sticker_newproduct'] }}
										</div>
									{% endif %}
								</div>
								<div class="slider-main-img">
								  <div class="item">
									<a {% if (fancybox == 1) %}data-fancybox="gallery"{% endif %} class="main-image thumbnail" href="{{ popup }}" title="{{ heading_title }}">
									  <img data-num="0" decoding="async" width="{{ thumb_width }}" height="{{ thumb_height }}" class="img-responsive" src="{{ thumb }}" title="{{ heading_title }}" alt="{{ heading_title }}" />
									</a>
								  </div>
								  {% if (images) %}
								  {% set num_image_b = 1 %}
								  {% for image in images %}
								  <div class="item">
									<a {% if (fancybox == 1) %}data-fancybox="gallery"{% endif %} class="thumbnail dop-img" data-magnify-src="{{ image['popup'] }}" href="{{ image['popup'] }}" title="{{ heading_title }}">
									<img loading="lazy" decoding="async" width="{{ thumb_width }}" height="{{ thumb_height }}" data-num="{{ num_image_b }}" src="{{ image['thumb_hover'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
								  </div>
								   {% set num_image_b = num_image_b + 1 %}
								  {% endfor %}
								  {% endif %}
								</div>
							</div>
						</div>
						<script>
							$('.slider-main-img').slick({
							draggable: true,
							centerMode: true,
							swipeToSlide: false,
							slidesToShow: 1,
							slidesToScroll: 1,
							infinite: false,
							arrows: false,
							initialSlide: 0,
							fade: true,
							adaptiveHeight: false,
							asNavFor: '.thumbnails .image-additional'
						  });
						</script>
					{% endif %}
					{% if (images) %}
						<div class="image-additional">
						  <div class="item">
							<a class="thumbnail" href="javascript:void(0)" title="{{ heading_title }}">
							  <img decoding="async" width="{{ ia_width }}" height="{{ ia_height }}" data-num="0" src="{{ thumb_min }}"  title="{{ heading_title }}" alt="{{ heading_title }}" />
							</a>
						  </div>
						  {% set num_image = 1 %}
						  {% for image in images %}
						  <div class="item">
							<a class="thumbnail" href="javascript:void(0)" title="{{ heading_title }}">
							<img decoding="async" width="{{ ia_width }}" height="{{ ia_height }}" data-num="{{ num_image }}" src="{{ image['thumb'] }}" title="{{ heading_title }}" alt="{{ heading_title }}" /></a>
						  </div>
						  {% set num_image = num_image + 1 %}
						  {% endfor %}
						</div>
<script>
  $(".thumbnails .image-additional").slick({
  vertical:true,
  focusOnSelect: true,
  asNavFor: '.slider-main-img',
  adaptiveHeight: true,
  infinite: false,
  slidesToShow: 4,
  prevArrow: "<div class='btn-slick-prev-v'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 49' width='40' height='16'><path d=\"M14.5824 24.2177L0.169802 1.64078C-0.133787 1.16522 -0.0203484 0.520408 0.43077 0.190628C0.896295 -0.149684 1.53586 -0.0208369 1.84885 0.469445L17 24.2034L1.85515 48.5205C1.54761 49.0143 0.909647 49.151 0.440354 48.8163C-0.0145324 48.4918 -0.134893 47.8483 0.163502 47.3692L14.5824 24.2177Z\"></path></svg></div>",
  nextArrow: "<div class='btn-slick-next-v'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 49' width='40' height='16'><path d=\"M14.5824 24.2177L0.169802 1.64078C-0.133787 1.16522 -0.0203484 0.520408 0.43077 0.190628C0.896295 -0.149684 1.53586 -0.0208369 1.84885 0.469445L17 24.2034L1.85515 48.5205C1.54761 49.0143 0.909647 49.151 0.440354 48.8163C-0.0145324 48.4918 -0.134893 47.8483 0.163502 47.3692L14.5824 24.2177Z\"></path></svg></div>",
  responsive: [{
	breakpoint: 992,
	settings: {
	  slidesToShow: 5,
	  vertical:false,
	  prevArrow: "<div class='btn-slick-prev-h'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 49' width='15' height='24'><path d=\"M14.5824 24.2177L0.169802 1.64078C-0.133787 1.16522 -0.0203484 0.520408 0.43077 0.190628C0.896295 -0.149684 1.53586 -0.0208369 1.84885 0.469445L17 24.2034L1.85515 48.5205C1.54761 49.0143 0.909647 49.151 0.440354 48.8163C-0.0145324 48.4918 -0.134893 47.8483 0.163502 47.3692L14.5824 24.2177Z\"></path></svg></div>",
	  nextArrow: "<div class='btn-slick-next-h'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 49' width='15' height='24'><path d=\"M14.5824 24.2177L0.169802 1.64078C-0.133787 1.16522 -0.0203484 0.520408 0.43077 0.190628C0.896295 -0.149684 1.53586 -0.0208369 1.84885 0.469445L17 24.2034L1.85515 48.5205C1.54761 49.0143 0.909647 49.151 0.440354 48.8163C-0.0145324 48.4918 -0.134893 47.8483 0.163502 47.3692L14.5824 24.2177Z\"></path></svg></div>",
	}
   },
	{
	  breakpoint: 300,
	  settings: {slidesToShow: 3}
	}
  ]
});
  </script>
					{% endif %}
				</div>
				</div>
		  {% endif %}
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-5">
		<div id="product">
			{% if (ns_show_nextprev_prod) %}
			<div id="next-prev-box">{{ nextprevproduct }}</div>
			{% endif %}
	   {% if (ns_on_off_countdown_product != '0') %}
			{% if (special) %}
				{% if (special_date_end != "") %}
					<div class="special-countdown action-timer">
						<div class="timer_inner" data-date-end="{{ special_date_end }}"></div>
					</div>
				{% endif %}
			{% endif %}
		{% endif %}
			<div class="top-info-product stock_rating_line">
				<div class="info-product">
					{% if (stock_quantity_count > 0) %}
						<span class="stock_status_success">
							<svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
								<path d="M9.77616 4.60058C10.047 4.3766 10.4481 4.41458 10.6721 4.68542C10.8712 4.92617 10.8633 5.26986 10.6689 5.50057L10.5873 5.58137L5.60652 9.70036L3.46645 8.28164C3.17352 8.08744 3.09348 7.69255 3.28768 7.39962C3.46029 7.13923 3.79149 7.04706 4.06869 7.16618L4.16969 7.22084L5.52226 8.11752L9.77616 4.60058Z" fill="#00BC52"/>
								<path fill-rule="evenodd" clip-rule="evenodd" d="M14 7C14 3.13401 10.866 0 7 0C3.13401 0 0 3.13401 0 7C0 10.866 3.13401 14 7 14C10.866 14 14 10.866 14 7ZM1.27273 7C1.27273 3.83691 3.83691 1.27273 7 1.27273C10.1631 1.27273 12.7273 3.83691 12.7273 7C12.7273 10.1631 10.1631 12.7273 7 12.7273C3.83691 12.7273 1.27273 10.1631 1.27273 7Z" fill="#00BC52"/>
							</svg>
						{{ stock_status }}</span>
						{% if (stock_quantity != 'not_display') %}<span class="stock-quantity_success">{{ stock_quantity }}</span>{% endif %}
					{% else %}
						<span class="qty-not-in-stock">{{ stock_status }}</span>
						{% if (stock_quantity != 'not_display') %}<span class="qty-not-in-stock-count">{{ stock_quantity }}</span>{% endif %}
					{% endif %}
				</div>
				{% if (review_status) %}
				<div class="rating info-product">
				<span class="rating-box">
				{% set i = 1 %}{% for i in i..5 %}
					{% if (rating < i) %}
						<span class="product-rating-star">
						  <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 8.75L3.47287 9.81573C2.73924 10.2014 1.88181 9.57846 2.02192 8.76155L2.40907 6.50431L0.769082 4.90572C0.175565 4.32718 0.503075 3.31921 1.3233 3.20002L3.5897 2.87069L4.60326 0.816985C4.97008 0.0737394 6.02992 0.0737402 6.39674 0.816986L7.4103 2.87069L9.67671 3.20002C10.4969 3.31921 10.8244 4.32718 10.2309 4.90572L8.59093 6.50431L8.97808 8.76155C9.11819 9.57846 8.26076 10.2014 7.52713 9.81573L5.5 8.75Z" fill="#EFEFEF"/>
						  </svg>
						</span>
					{% else %}
						<span class="product-rating-star">
						  <svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
							<path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 8.75L3.47287 9.81573C2.73924 10.2014 1.88181 9.57846 2.02192 8.76155L2.40907 6.50431L0.769082 4.90572C0.175565 4.32718 0.503075 3.31921 1.3233 3.20002L3.5897 2.87069L4.60326 0.816985C4.97008 0.0737394 6.02992 0.0737402 6.39674 0.816986L7.4103 2.87069L9.67671 3.20002C10.4969 3.31921 10.8244 4.32718 10.2309 4.90572L8.59093 6.50431L8.97808 8.76155C9.11819 9.57846 8.26076 10.2014 7.52713 9.81573L5.5 8.75Z" fill="#E5DB77"/>
						  </svg>
						</span>
					{% endif %}
				{% endfor %}
					 <span class="quantity-reviews"><a href="" onclick="$('a[href=\'#tab-review\']').trigger('click');$('html, body').animate({ scrollTop: $('a[href=\'#tab-review\']').offset().top - 5}, 250); return false;">{{ reviewCount }}</a></span>
				</span>
				</div>
			{% endif %}
			</div>
	 		 <div class="top-info-product">
				<div class="info-product p-model"><b>{{ text_model }}</b> <span>{{ model }}</span></div>
				{% if (sku is not empty) %}
					<div class="info-product"><b>{{ text_sku }}</b> <span>{{ sku }}</span></div>
				{% endif %}
			</div>
			{% if (manufacturer) %}
			<div class="info-product p-brand">
				{% if (brand_image) %}
					<div class="brand-img"><a href="{{ manufacturers }}"><img src="{{ brand_image }}" title="{{ manufacturer }}"/></a></div>
				{% endif %}
				<a href="{{ manufacturers }}"><span>{{ manufacturer }}</span></a>
			</div>
			{% endif %}
				{% if (options) %}
				<p><strong>{{ text_option }}</strong></p>
				<div class="options">
				{% for option in options %}
				{% if (option['type'] == 'select') %}
				<div class="form-group{{ option['required'] ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
				  <select name="option[{{ option['product_option_id'] }}]" id="input-option{{ option['product_option_id'] }}" class="form-control">
					<option value="">{{ text_select }}</option>
					{% for option_value in option['product_option_value'] %}
					<option value="{{ option_value.product_option_value_id }}">{{ option_value['name'] }}
					{% if (option_value['price']) %}
					({{ option_value['price_prefix'] }}{{ option_value['price'] }})
					{% endif %}
					</option>
					{% endfor %}
				  </select>
				</div>
				{% endif %}
			   {% if (option['type'] == 'radio') %}
					<div class="form-group{{ option['required'] ? ' required' : '' }}">
						<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
						<div id="input-option{{ option['product_option_id'] }}">
							{% for option_value in option['product_option_value'] %}
								{% if (option_value['image'] or option_value['color']) %}
									{% if (option['status_color_type'] == '1') %}
										<div class="image-radio">
										  <label>
											<input type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value.product_option_value_id }}" />
											<span class="color-option" data-toggle="tooltip" title="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" style="background-color:{{ option_value['color']}}"></span>
										  </label>
										</div>
									{% else %}
										<div class="image-radio">
										  <label>
											<input type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value.product_option_value_id }}" />
											<span class="image-option">
											<img onclick="optionimage('{{ option_value['image_click'] }}','{{ option_value['image_zoom'] }}','{{ option_value['image_thumb'] }}')" src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" class="img-responsive" data-toggle="tooltip" title="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" />
										 	</span>
										  </label>
										</div>
									{% endif %}
								{% else %}
									<div class="radio-checbox-options">
									  <input type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value.product_option_value_id }}" id="{{ option['product_option_id'] }}_{{ option_value.product_option_value_id }}" />
										<label for="{{ option['product_option_id'] }}_{{ option_value.product_option_value_id }}">
										<span class="option-name">{{ option_value['name'] }}</span>
										{% if (option_value['price']) %}
										<span class="option-price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
										{% endif %}
									  </label>
									</div>
								{% endif %}
							{% endfor %}
						</div>
					</div>
				{% endif %}
				{% if (option['type'] == 'checkbox') %}
					<div class="form-group{{ option['required'] ? ' required' : '' }}">
						<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
						<div id="input-option{{ option['product_option_id'] }}">
							{% for option_value in option['product_option_value'] %}
								{% if (option_value['image'] or option_value['color']) %}
										{% if (option['status_color_type'] == '1') %}
											<div class="image-radio">
											  <label>
												<input type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value.product_option_value_id }}" />
												<span class="color-option" data-toggle="tooltip" title="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" style="background-color:{{ option_value['color']}}"></span>
											  </label>
											</div>
										{% else %}
											<div class="image-radio">
											  <label>
												<input type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value.product_option_value_id }}" />
												<span class="image-option">
												<img onclick="optionimage('{{ option_value['image_click'] }}','{{ option_value['image_zoom'] }}','{{ option_value['image_thumb'] }}')" src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" class="img-responsive" data-toggle="tooltip" title="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" />
											  	</span>
											  </label>
											</div>
										{% endif %}
									{% else %}
										<div class="radio-checbox-options">
										  <input type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value.product_option_value_id }}" id="{{ option['product_option_id'] }}_{{ option_value.product_option_value_id }}" />
											<label for="{{ option['product_option_id'] }}_{{ option_value.product_option_value_id }}">
											<span class="option-name">{{ option_value['name'] }}</span>
											{% if (option_value['price']) %}
											<span class="option-price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
											{% endif %}
										  </label>
										</div>
									{% endif %}
							{% endfor %}
						</div>
					</div>
				{% endif %}

				{% if (option['type'] == 'text') %}
				<div class="form-group{{ option['required'] ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
				  <input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control" />
				</div>
				{% endif %}
				{% if (option['type'] == 'textarea') %}
				<div class="form-group{{ option['required'] ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
				  <textarea name="option[{{ option['product_option_id'] }}]" rows="5" placeholder="{{ option['name'] }}" id="input-option{{ option['product_option_id'] }}" class="form-control">{{ option['value'] }}</textarea>
				</div>
				{% endif %}
				{% if (option['type'] == 'file') %}
				<div class="form-group{{ option['required'] ? ' required' : '' }}">
					<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
				  <button type="button" id="button-upload{{ option['product_option_id'] }}" data-loading-text="{{ text_loading }}" class="btn btn-default btn-block"><i class="fa fa-upload"></i> {{ button_upload }}</button>
				  <input type="hidden" name="option[{{ option['product_option_id'] }}]" value="" id="input-option{{ option['product_option_id'] }}" />
				</div>
				{% endif %}
				{% if (option['type'] == 'date') %}
				<div class="form-group{{ option['required'] ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
				  <div class="input-group date">
					<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD" id="input-option{{ option['product_option_id'] }}" class="form-control" />
					<span class="input-group-btn">
					<button class="btn btn-default" type="button"><i class="fa fa-calendar"></i></button>
					</span></div>
				</div>
				{% endif %}
				{% if (option['type'] == 'datetime') %}
				<div class="form-group{{ option['required'] ? ' required' : '' }}">
					<label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
				  <div class="input-group datetime">
					<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="YYYY-MM-DD HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
					</span></div>
				</div>
				{% endif %}
				{% if (option['type'] == 'time') %}
				<div class="form-group{{ option['required'] ? ' required' : '' }}">
				  <label class="control-label" for="input-option{{ option['product_option_id'] }}">{{ option['name'] }}</label>
				  <div class="input-group time">
					<input type="text" name="option[{{ option['product_option_id'] }}]" value="{{ option['value'] }}" data-date-format="HH:mm" id="input-option{{ option['product_option_id'] }}" class="form-control" />
					<span class="input-group-btn">
					<button type="button" class="btn btn-default"><i class="fa fa-calendar"></i></button>
					</span></div>
				</div>
				{% endif %}
				{% endfor %}
				</div>
				{% endif %}
				{% if (price) %}
				<div class="price">
					{% if (not special) %}
						{{ price }}
					{% else %}
						<span class="box-price-old">
						  <span class="price-old">{{ price }}</span>
						  <span class="stickers-skidka"><span class="sticker-ns procent-skidka">{{ skidka }} %</span></span>
						  </span>
						  <div class="block__saving">
							<span class="text__saaving">{{ text_price_save }}</span>
							<span class="price__saving">{{ price_save }}</span>
						  </div>
						  <br>
						  <span class="price-new">{{ special }}</span>
					{% endif %}
					{% if (tax) %}
						<span class="price-tax">{{ text_tax }} {{ tax }}</span>
					{% endif %}
				</div>
				{% endif %}
				{% if (fcpdata['status'] is defined and fcpdata['status']) %}
				<a class="btn-cheaper" href="javascript: void(0);" onclick="open_popup_fcp({{ product_id }}); return false"><i class="{{ fcpdata['found_cheaper_botton_icon'] }}"></i> {{ fcpdata['found_cheaper_botton_text'][lang_id] is defined ? fcpdata['found_cheaper_botton_text'][lang_id]['text'] : '' }}   </a>
				{% endif %}
				{% if (points) %}
					<div class="points">{{ text_points }} {{ points }}</div>
				{% endif %}
				{% if (reward or discounts) %}
				<ul class="list-unstyled discounts">
					{% if (reward) %}
					<li>{{ text_reward }} {{ reward }}</li>
					{% endif %}
					{% if (discounts) %}
					{% for discount in discounts %}
						<li>{{ discount['quantity'] }}{{ text_discount }}{{ discount['price'] }}</li>
					{% endfor %}
					{% endif %}
				</ul>
				{% endif %}
				{% if (recurrings) %}
				<h3>{{ text_payment_recurring }}</h3>
				<div class="form-group required">
				  <select name="recurring_id" class="form-control">
					<option value="">{{ text_select }}</option>
					{% for recurring in recurrings %}
					<option value="{{ recurring['recurring_id'] }}">{{ recurring['name'] }}</option>
					{% endfor %}
				  </select>
				  <div class="help-block" id="recurring-description"></div>
				</div>
				{% endif %}

				{% if (minimum > 1) %}
					<div class="info-minimum">
						<svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9 17C13.4183 17 17 13.4183 17 9C17 4.58172 13.4183 1 9 1C4.58172 1 1 4.58172 1 9C1 13.4183 4.58172 17 9 17ZM9 18C13.9706 18 18 13.9706 18 9C18 4.02944 13.9706 0 9 0C4.02944 0 0 4.02944 0 9C0 13.9706 4.02944 18 9 18Z" fill="#E5DB77"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9 4.50952C9.27614 4.50952 9.5 4.73338 9.5 5.00952V10.2151C9.5 10.4913 9.27614 10.7151 9 10.7151C8.72386 10.7151 8.5 10.4913 8.5 10.2151V5.00952C8.5 4.73338 8.72386 4.50952 9 4.50952Z" fill="#E5DB77"/>
						<path fill-rule="evenodd" clip-rule="evenodd" d="M9 12.2985C9.27614 12.2985 9.5 12.5223 9.5 12.7985V13.6879C9.5 13.964 9.27614 14.1879 9 14.1879C8.72386 14.1879 8.5 13.964 8.5 13.6879V12.7985C8.5 12.5223 8.72386 12.2985 9 12.2985Z" fill="#E5DB77"/>
						</svg>
						{{ text_minimum }}
					</div>
				{% endif %}

				<div class="actions">
					<div class="quantity-adder pull-left clearfix">
						<div class="quantity-number dflex pull-left">
							<span onclick="btnminus_card_prod('{% if (config_additional_settings_newstore['quantity_multiple'] is defined and (config_additional_settings_newstore['quantity_multiple'] == '1')) %}{{ minimum }}{% else %}1{% endif %}');" class="add-down add-action fa fa-angle-left"></span>
							<input {% if (config_additional_settings_newstore['quantity_multiple'] is defined and (config_additional_settings_newstore['quantity_multiple'] == '1') and minimum > 1) %}disabled{% endif %} class="quantity-product" type="text" name="quantity" size="2" data-minimum="{{ minimum }}" onkeyup="validate_quantity(this, {{ minimum }})" value="{{ minimum }}" />
							<span onclick="btnplus_card_prod('{% if (config_additional_settings_newstore['quantity_multiple'] is defined and (config_additional_settings_newstore['quantity_multiple'] == '1')) %}{{ minimum }}{% else %}1{% endif %}');" class="add-up add-action fa fa-angle-right"></span>
						</div>
						<input type="hidden" name="product_id" value="{{ product_id }}" />
					</div>
					<script>
						function btnminus_card_prod(minimum){
							var $input = $('.quantity-product');
							var count = parseInt($input.val()) - parseInt(minimum);
							count = count < parseInt({{ minimum }}) ? parseInt({{ minimum }}) : count;
							$input.val(count);
							$input.change();
							{% if (cyber_product_page_tabs is defined and cyber_product_page_tabs == '1') %}
							var input_sri = $('.scroll-right-info .quantity-product');
							input_sri.val(count);
							input_sri.change();
							{% endif %}
						}
						function btnplus_card_prod(minimum){
							var $input = $('.quantity-product');
							var count = parseInt($input.val()) + parseInt(minimum);
							$input.val(count);
							$input.change();
							{% if (cyber_product_page_tabs is defined and cyber_product_page_tabs == '1') %}
							var input_sri = $('.scroll-right-info .quantity-product');
							input_sri.val(count);
							input_sri.change();
							{% endif %}
						};
					</script>
					<div class="cart pull-left">
						{% if ((product_quantity <= 0) and disable_cart_button) %}
							<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-general" disabled>{% if (change_text_cart_button_out_of_stock == 1 and product_quantity <= 0) %}<span>{{ disable_cart_button_text }}</span>{% else %}<span class="icon-cart-add"></span><span>{{ button_cart }}</span>{% endif %}</button>
						{% else %}
							<button type="button" id="button-cart" data-loading-text="{{ text_loading }}" class="btn btn-general">{% if (change_text_cart_button_out_of_stock == 1 and product_quantity <= 0) %}<span>{{ disable_cart_button_text }}</span>{% else %}<span class="icon-cart-add"></span><span>{{ button_cart }}</span>{% endif %}</button>
						{% endif %}
					</div>
					{% if (show_nsproduct_btn_fastorder == '1') %}
				  	{% if ((not disable_fastorder_button and ((product_quantity <= 0) or product_quantity > 0)) or (disable_fastorder_button and product_quantity > 0)) %}
					  <button class="btn btn-fastorder" type="button" data-toggle="tooltip" onclick="fastorder_open({{ product_id }});" title="{{ config_text_open_form_send_order[lang_id]['config_text_open_form_send_order'] }}" {% if ((product_quantity <= 0) and disable_fastorder_button) %}disabled{% endif %}>
						{% if (icon_open_form_send_order != '') %}
						  <i class="{{ icon_open_form_send_order }} fa-fw"></i>
						{% else %}
						 <span class="btn-icon-fastorder"></span>
						{% endif %}
						<span class="text-fastorder">{{ config_text_open_form_send_order[lang_id]['config_text_open_form_send_order'] }}</span>
					  </button>
				    {% endif %}
					{% endif %}

					{% if (show_nsproduct_btn_wishlist == '1') %}
						<button type="button" data-toggle="tooltip" class="btn btn-wishlist" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product_id }}');"><span class="btn-icon-wishlist"></span></button>
					{% endif %}
					{% if (show_nsproduct_btn_compare == '1') %}
						<button type="button" data-toggle="tooltip" class="btn btn-compare" title="{{ button_compare }}" onclick="compare.add('{{ product_id }}');"><span class="btn-icon-compare"></span></button>
					{% endif %}
				</div>

				{% if (short_description_status is defined and (short_description_status == '1') and (short_description is not empty)) %}
				<div class="short_description_title">{{ text_short_description }}</div>
				<div class="short_description">{{ description|striptags|slice(0, 220) ~ '...' }}
				<a href="javascript:void(0);" class="red-link" onclick="$('a[href=\'#tab-description\']').trigger('click'); $('html, body').animate({ scrollTop: $('#tab-description').offset().top - 60}, 250); return false;">{{ text_readmore_desc }}</a>
				</div>
				{% endif %}
				{% if (short_attribut_status is defined and (short_attribut_status == '1')) %}
				{% if (attribute_groups) %}
				<div class="short_attributes_title">{{ text_short_attribute }}</div>
				<div class="short-attributes-top">
					{% for key,attribute_group in attribute_groups %}
						{% if (key < short_attribute_group_product) %}
							{% for key,attribute in attribute_group['attribute'] %}
								{% if (key < short_attribute_group_product_item) %}
									{% if (short_attribute_show_name is defined and (short_attribute_show_name == '1')) %}
									<span class="attr-name-line">{{ attribute['name'] }}</span>
									{% endif %}
									<span class="attr-text-line">{{ attribute['text'] }}</span>
								{% endif %}
							{% endfor %}
						{% endif %}
					{% endfor %}
					<a href="javascript:void(0);" class="btn-block red-link" onclick="$('a[href=\'#tab-specification\']').trigger('click'); $('html, body').animate({ scrollTop: $('a[href=\'#tab-specification\']').offset().top - 6}, 250); return false;">{{ text_see_all_attribute }}</a>
				</div>
				{% endif %}
				{% endif %}
				{% if ((ns_on_off_product_sharing_facebock == '1') or (ns_on_off_product_sharing_twitter == '1') or (ns_on_off_product_sharing_mailru == '1') or (ns_on_off_product_sharing_vk == '1') or (ns_on_off_product_sharing_ok == '1') ) %}
					<div class="social-likes">
						{% if (ns_on_off_product_sharing_facebock != '0') %}<div class="facebook" title="Share link on Facebook">{{ text_facebook }}</div>{% endif %}
						{% if (ns_on_off_product_sharing_twitter != '0') %}<div class="twitter" title="Share link on Twitter">{{ text_twitter }}</div>{% endif %}
						{% if (ns_on_off_product_sharing_mailru != '0') %}<div class="mailru" title="Поделиться ссылкой в Моём мире">{{ text_mailru }}</div>{% endif %}
						{% if (ns_on_off_product_sharing_vk != '0') %}<div class="vkontakte" title="Поделиться ссылкой во Вконтакте">{{ text_vk }}</div>{% endif %}
						{% if (ns_on_off_product_sharing_ok != '0') %}<div class="odnoklassniki" title="Поделиться ссылкой в Одноклассниках">{{ text_ok }}</div>{% endif %}
					</div>
				{% endif %}
		</div>
		</div>

  {% if (cyber_product_page_tabs is defined and cyber_product_page_tabs == '1') %}

  </div><!-- main_block_product  -->
  <div class="cbp col-xs-12 col-sm-12 col-md-12 col-lg-12" id="tab-description">{{ description }}</div>
  {% if (fix_right_block is defined and (fix_right_block == '1')) %}<div id="right-info" class="col-lg-5-1 col-md-offset-left-8"></div>{% endif %}
  </div><!-- Tab Pane INFO PRODUCT -->

  {% if (attribute_groups) %}
	<div class="tab-pane" id="tab-specification">
	  <div class="short-attributes-groups">
		{% for attribute_group in attribute_groups %}
		  <div class="attr-group-name">{{ attribute_group['name'] }}</div>
		  {% for attribute in attribute_group['attribute'] %}
			<div class="short-attribute">
			  <span class="attr-name"><span>{{ attribute['name'] }}</span></span>
			  <span class="attr-text"><span>{{ attribute['text'] }}</span></span>
			</div>
		  {% endfor %}
		{% endfor %}
	  </div>
	</div>
  {% endif %}
  {% if (qadata['status'] is defined) %}
  <div class="tab-pane" id="tab-question-answer">
	<div id="question-answer"></div>
	<script>
	$('#question-answer').load('index.php?route=extension/module/cyber_question_answer/getList&product_id={{ product_id }}');
	$('#question-answer').delegate('.pagination a', 'click', function(e) {
	  e.preventDefault();

	  $('#question-answer').fadeOut('slow');

	  $('#question-answer').load(this.href);

	  $('#question-answer').fadeIn('slow');
	});
	</script>
  </div>
  {% endif %}
  {% if (product_additional_tabs is defined) %}
  {% set additional_tab_i=0 %} {% for product_additional_tab in product_additional_tabs %}
	  <div class="dop-tabs tab-pane" id="product_additional_tabs{{ additional_tab_i }}">{{ product_additional_tab['text'] }}</div>
  {% set additional_tab_i = additional_tab_i + 1 %} {% endfor %}
  {% endif %}
  {% if (review_status) %}
		<div class="tab-pane" id="tab-review">
		<div id="review"></div>
		<form class="form-horizontal" id="form-review">
		<h2>{{ text_write }}</h2>
		{% if (review_guest) %}
		  <div class="form-group required">
			<div class="col-sm-12 col-lg-4">
			  <label class="control-label" for="input-name">{{ entry_name }}</label>
			  <input type="text" name="name" value="" id="input-name" class="form-control" />
			</div>
		  </div>
		 <div class="form-group required">
		  <div class="col-sm-12">
		  <label class="control-label">{{ entry_rating }}</label>
		  <div class="product-rating">
			<input class="hidden" id="rating1" type="radio" name="rating" value="1" /><label class="star-rating label-star-prod" for="rating1"></label>
			<input class="hidden" id="rating2" type="radio" name="rating" value="2" /><label class="star-rating label-star-prod" for="rating2"></label>
			<input class="hidden" id="rating3" type="radio" name="rating" value="3" /><label class="star-rating label-star-prod" for="rating3"></label>
			<input class="hidden" id="rating4" type="radio" name="rating" value="4" /><label class="star-rating label-star-prod" for="rating4"></label>
			<input class="hidden" id="rating5" type="radio" name="rating" value="5" /><label class="star-rating label-star-prod" for="rating5"></label>
		  </div>
		  </div>
		  <script>
			$('.label-star-prod').hover(function () {
			  $(this).prevAll('.label-star-prod').addClass('active');
			  $(this).addClass('active');
			},function () {
			  $(this).prevAll('.label-star-prod').removeClass('active');
			  $(this).removeClass('active');
			});

			$('.label-star-prod').click(function(){
			  $('.label-star-prod').each(function(){
				$(this).removeClass('checked');
				$(this).prevAll('.label-star-prod').removeClass('checked');
			  });

			  $(this).addClass('checked');
			  $(this).prevAll('.label-star-prod').addClass('checked');
			});
		  </script>
		  </div>
		  <div class="form-group required">
			<div class="col-sm-12">
			  <label class="control-label" for="input-review">{{ entry_review }}</label>
			  <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
			</div>
		  </div>
		  <div class="form-group">
			<div {% if (show_review_plus == '0') %}style="display:none;"{% endif %} class="col-sm-12 col-lg-6 {% if (show_review_plus_requared) %}required{% endif %}">
			  <label class="control-label" for="input-review-plus">{{ entry_plus }}</label>
			  <textarea name="plus" rows="5" id="input-review-plus" class="form-control"></textarea>
			</div>
			<div {% if (show_review_minus == '0') %}style="display:none;"{% endif %} class="col-sm-12 col-lg-6 {% if (show_review_minus_requared) %}required{% endif %}">
			  <label class="control-label" for="input-review-minus">{{ entry_minus }}</label>
			  <textarea name="minus" rows="5" id="input-review-minus" class="form-control"></textarea>
			</div>
		  </div>
		  <div class="help-block">{{ text_note }}</div>
		  {{ captcha }}
		  <div class="buttons clearfix">
			<div class="pull-left">
			  <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ btn_add_new_review }}</button>
			</div>
		  </div>
		  {% else %}
			{{ text_login }}
		   {% endif %}
		</form>
	  </div>
	{% endif %}

	 </div> <!-- Tab Content -->
  </div>
  <div id="tabs_info_product_right"></div>

  </div> <!-- product-page-tabs -->

  {% endif %}
  </div> <!-- ROW FIX END -->
	<div class="clearfix"></div>
  {% if (cyber_product_page_tabs is defined and cyber_product_page_tabs != '1') %}
  {% if (fix_right_block is defined and (fix_right_block == '1')) %} <div id="right-info" class="col-lg-5-1 col-md-offset-left-8"></div>{% endif %}
  {% endif %}
	<div class="row cbp {% if (cyber_product_page_tabs is defined and cyber_product_page_tabs != '1') %}mt-20{% endif %}">
		{% if (config_status_delivery_options != '0') %}
			<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
				<div class="custom-block-products container-module">
					{% if (config_delivery_options_title[lang_id]['config_delivery_options_title'] is not empty) %}
					  <div class="title-module"><span>{{ config_delivery_options_title[lang_id]['config_delivery_options_title'] }}</span></div>
					  {% endif %}
					<div class="row">
						{% for delivery_block in banner_delivery_block %}
							<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
							<div class="custom-block-product" {% if ((delivery_block['popup'] == '1') and (delivery_block['link'][lang_id] != '')) %} onclick="banner_link_open('{{ delivery_block['link'][lang_id] }}')" {% elseif ((delivery_block['popup'] == '0') and (delivery_block['link'][lang_id] != '')) %}onclick="location='{{ delivery_block['link'][lang_id] }}'" {% endif %}>
								<div class="image">
									<img src="{{ delivery_block['image'] }}" alt="{{ delivery_block['title'][lang_id] }}"/>
								</div>
								<div class="text">
									<h4>{{ delivery_block['title'][lang_id] }}</h4>
									<p>{{ delivery_block['description'][lang_id] }}</p>
								</div>
							</div>
							</div>
						{% endfor %}
					</div>
				</div>
			</div>
		{% endif %}
  {% if (cyber_product_page_tabs is defined and cyber_product_page_tabs != '1') %}
	<div class="tabs-product col-sm-12">
		<div class="tabs__header">
			<div class="tabs__header__scroll dragscroll">
				<ul class="nav nav-tabs my-tabs">
					<li class="tabs__active_line"></li>
					<li class="active"><a href="#tab-description" data-toggle="tab">{{ tab_description }}</a></li>
				  {% if (attribute_groups) %}
					<li><a href="#tab-specification" data-toggle="tab">{{ tab_attribute }}</a></li>
				  {% endif %}
				  {% if (review_status) %}
					<li><a href="#tab-review" data-toggle="tab">{{ tab_review }}</a></li>
				  {% endif %}
						{% if (qadata['status'] is defined) %}
							<li><a href="#tab-question-answer" data-toggle="tab">{{ tab_question_answer }}</a></li>
						{% endif %}
						{% if (product_additional_tabs is defined) %}
				  {% set additional_tab_i=0 %}
				  	{% for product_additional_tab in product_additional_tabs %}
					<li><a href="#product_additional_tabs{{ additional_tab_i }}" data-toggle="tab"><i class="{{ product_additional_tab['icon_tabs'] }}"></i> {{ product_additional_tab['title'] }}</a></li>
				  {% set additional_tab_i = additional_tab_i + 1 %} {% endfor %}
				  {% endif %}
				</ul>
			</div>
		</div>
	<div class="tab-content">
	  <div class="tab-pane active" id="tab-description">{{ description }}</div>
	  {% if (attribute_groups) %}
	  <div class="tab-pane" id="tab-specification">
		<div class="short-attributes-groups">
					{% for attribute_group in attribute_groups %}
						<div class="attr-group-name">{{ attribute_group['name'] }}</div>
						{% for attribute in attribute_group['attribute'] %}
							<div class="short-attribute">
								<span class="attr-name"><span>{{ attribute['name'] }}</span></span>
								<span class="attr-text"><span>{{ attribute['text'] }}</span></span>
							</div>
						{% endfor %}
					{% endfor %}
				</div>
	  </div>
	  {% endif %}
			{% if (qadata['status'] is defined) %}
			<div class="tab-pane" id="tab-question-answer">
				<div id="question-answer"></div>
				<script>
				$('#question-answer').load('index.php?route=extension/module/cyber_question_answer/getList&product_id={{ product_id }}');
				$('#question-answer').delegate('.pagination a', 'click', function(e) {
					e.preventDefault();

					$('#question-answer').fadeOut('slow');

					$('#question-answer').load(this.href);

					$('#question-answer').fadeIn('slow');
				});
				</script>
			</div>
			{% endif %}
			{% if (product_additional_tabs is defined) %}
			{% set additional_tab_i=0 %} {% for product_additional_tab in product_additional_tabs %}
				  <div class="tab-pane additional-tabs" id="product_additional_tabs{{ additional_tab_i }}">{{ product_additional_tab['text'] }}</div>
			{% set additional_tab_i = additional_tab_i + 1 %} {% endfor %}
			{% endif %}

	  {% if (review_status) %}
		<div class="tab-pane" id="tab-review">
		<div id="review"></div>
		<form class="form-horizontal" id="form-review">
		<h2>{{ text_write }}</h2>
		{% if (review_guest) %}
		  <div class="form-group required">
			<div class="col-sm-12 col-lg-4">
			  <label class="control-label" for="input-name">{{ entry_name }}</label>
			  <input type="text" name="name" value="" id="input-name" class="form-control" />
			</div>
		  </div>
		 <div class="form-group required">
			<div class="col-sm-12">
		  <label class="control-label">{{ entry_rating }}</label>
		  <div class="product-rating">
			<input class="hidden" id="rating1" type="radio" name="rating" value="1" /><label class="star-rating label-star-prod" for="rating1"></label>
			<input class="hidden" id="rating2" type="radio" name="rating" value="2" /><label class="star-rating label-star-prod" for="rating2"></label>
			<input class="hidden" id="rating3" type="radio" name="rating" value="3" /><label class="star-rating label-star-prod" for="rating3"></label>
			<input class="hidden" id="rating4" type="radio" name="rating" value="4" /><label class="star-rating label-star-prod" for="rating4"></label>
			<input class="hidden" id="rating5" type="radio" name="rating" value="5" /><label class="star-rating label-star-prod" for="rating5"></label>
		  </div>
		  </div>
		  <script>
			$('.label-star-prod').hover(function () {
			  $(this).prevAll('.label-star-prod').addClass('active');
			  $(this).addClass('active');
			},function () {
			  $(this).prevAll('.label-star-prod').removeClass('active');
			  $(this).removeClass('active');
			});

			$('.label-star-prod').click(function(){
			  $('.label-star-prod').each(function(){
				$(this).removeClass('checked');
				$(this).prevAll('.label-star-prod').removeClass('checked');
			  });

			  $(this).addClass('checked');
			  $(this).prevAll('.label-star-prod').addClass('checked');
			});
		  </script>
		  </div>
		  <div class="form-group required">
			<div class="col-sm-12">
			  <label class="control-label" for="input-review">{{ entry_review }}</label>
			  <textarea name="text" rows="5" id="input-review" class="form-control"></textarea>
			</div>
		  </div>
		  <div class="form-group">
				<div {% if (show_review_plus == '0') %}style="display:none;"{% endif %} class="col-sm-12 col-lg-6 {% if (show_review_plus_requared) %}required{% endif %}">
			  <label class="control-label" for="input-review-plus">{{ entry_plus }}</label>
			  <textarea name="plus" rows="5" id="input-review-plus" class="form-control"></textarea>
			</div>
					<div {% if (show_review_minus == '0') %}style="display:none;"{% endif %} class="col-sm-12 col-lg-6 {% if (show_review_minus_requared) %}required{% endif %}">
			  <label class="control-label" for="input-review-minus">{{ entry_minus }}</label>
			  <textarea name="minus" rows="5" id="input-review-minus" class="form-control"></textarea>
			</div>
				  </div>
		  <div class="help-block">{{ text_note }}</div>
		  {{ captcha }}
		  <div class="buttons clearfix">
			<div class="pull-left">
			  <button type="button" id="button-review" data-loading-text="{{ text_loading }}" class="btn btn-primary">{{ btn_add_new_review }}</button>
			</div>
		  </div>
		  {% else %}
			{{ text_login }}
		   {% endif %}
		</form>
	  </div>
	{% endif %}

		  </div>
		</div>
	{% endif %}
 </div>

{% set gen_carousel_featured = random(1000) %}
	{% if (products) %}
		<div class="row mt-10">
		<div class="col-sm-12">
		<div class="container-module">
			<div class="title-module"><span>{{ text_related }}</span></div>
			<div class="product-slider">
			<div class="container-modules featured carousel_numb_featured{{ gen_carousel_featured }} owl-carousel">
			{% for product in products %}
				<div class="item h-100">
					<div class="product-thumb dflex flex-column h-100">
						<div class="image">
							<div class="stickers-ns">
								{% if ((on_off_sticker_special == '1') and product['special']) %}
									<div class="sticker-ns special">
										<i class="fa {{ config_change_icon_sticker_special }} "></i>
										<span>{{ text_sticker_special[lang_id]['config_change_text_sticker_special'] }}</span>
									</div>
								{% endif %}
								{% if ((on_off_sticker_topbestseller == '1') and (product['top_bestsellers'] >= config_limit_order_product_topbestseller)) %}
									<div class="sticker-ns bestseller">
										<i class="fa {{ config_change_icon_sticker_topbestseller }} "></i>
										<span>{{ text_sticker_topbestseller[lang_id]['config_change_text_sticker_topbestseller'] }}</span>
									</div>
								{% endif %}
								{% if ((on_off_sticker_popular == '1') and (product['viewed']>=config_min_quantity_popular)) %}
									<div class="sticker-ns popular">
										<i class="fa {{ config_change_icon_sticker_popular }} "></i>
										<span>{{ text_sticker_popular[lang_id]['config_change_text_sticker_popular'] }}</span>
									</div>
								{% endif %}
								{% if ((on_off_sticker_newproduct == '1') and product.sticker_new_prod ) %}
									<div class="sticker-ns newproduct">
										<i class="fa {{ config_change_icon_sticker_newproduct }}"></i>
										{{ text_sticker_newproduct[lang_id]['config_change_text_sticker_newproduct'] }}
									</div>
								{% endif %}
							</div>
							<a href="{{ product['href'] }}"><img loading="lazy" decoding="async" width="{{ width }}" height="{{ height }}" {% if (lazyload_module) %}data-srcset="{{ product['thumb'] }}" srcset="{{ lazy_image }}" src="{{ product['thumb'] }}" {% else %}src="{{ product['thumb'] }}" {% endif %} alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive {% if (lazyload_module) %}lazyload{% endif %}" {% if (product['additional_image_hover']) %}data-additional-hover="{{ product['additional_image_hover'] }}" {% endif %} /></a>
							{% if (show_special_timer_module == '1' and product['special']) %}
								<div class="action-timer">
									<div class="timer_inner" data-date-end="{{ product['date_end'] }}"></div>
								</div>
							{% endif %}
						</div>
						<div class="caption dflex flex-column flex-grow-1">
							<div class="product-name"><a href="{{ product['href'] }}">{{ product['name'] }}</a></div>
							{% if (show_stock_status) %}
								{% if (product['product_quantity'] <= 0) %}
									<div class="stock-status outofstock">{{ product['stock_status'] }}</div>
								{% else %}
									<div class="stock-status instock">
										<svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none" viewBox="0 0 13 13"><path fill="#00BC52" d="M8.681 4.615a.5.5 0 01.702.707l-.064.063-3.914 3.237-1.681-1.115a.5.5 0 01.473-.876l.08.042 1.062.705 3.342-2.763z"/><path fill="#00BC52" fill-rule="evenodd" d="M12 6.5a5.5 5.5 0 10-11 0 5.5 5.5 0 0011 0zm-10 0a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0z" clip-rule="evenodd"/></svg>
										{{ text_instock }}
									</div>
								{% endif %}
							{% endif %}
							{% if (setting_module['status_model'] is defined and (setting_module['status_model'] == '1')) %}
								<div class="product-model">{{ product['model']}}</div>
							{% endif %}
							{% if (setting_module['status_description'] is defined and (setting_module['status_description'] == '1')) %}
								<div class="product-description">{{ product['description'] }}</div>
							{% endif %}
							{% if (setting_module['status_rating'] is defined and (setting_module['status_rating'] == '1')) %}
								<div class="rating">
									<span class="rating-box">
										{% set i = 1 %}{% for i in i..5 %}
										  {% if (product['rating'] < i) %}
											<span class="product-rating-star">
												<svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 8.75L3.47287 9.81573C2.73924 10.2014 1.88181 9.57846 2.02192 8.76155L2.40907 6.50431L0.769082 4.90572C0.175565 4.32718 0.503075 3.31921 1.3233 3.20002L3.5897 2.87069L4.60326 0.816985C4.97008 0.0737394 6.02992 0.0737402 6.39674 0.816986L7.4103 2.87069L9.67671 3.20002C10.4969 3.31921 10.8244 4.32718 10.2309 4.90572L8.59093 6.50431L8.97808 8.76155C9.11819 9.57846 8.26076 10.2014 7.52713 9.81573L5.5 8.75Z" fill="#EFEFEF"/>
												</svg>
											</span>
										{% else %}
											<span class="product-rating-star">
												<svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
													<path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 8.75L3.47287 9.81573C2.73924 10.2014 1.88181 9.57846 2.02192 8.76155L2.40907 6.50431L0.769082 4.90572C0.175565 4.32718 0.503075 3.31921 1.3233 3.20002L3.5897 2.87069L4.60326 0.816985C4.97008 0.0737394 6.02992 0.0737402 6.39674 0.816986L7.4103 2.87069L9.67671 3.20002C10.4969 3.31921 10.8244 4.32718 10.2309 4.90572L8.59093 6.50431L8.97808 8.76155C9.11819 9.57846 8.26076 10.2014 7.52713 9.81573L5.5 8.75Z" fill="#E5DB77"/>
												</svg>
											</span>
										{% endif %}
										  {% endfor %}
										{% if (setting_module['status_quantity_reviews'] is defined and (setting_module['status_quantity_reviews'] == '1')) %}
											<span class="quantity-reviews"><a data-placement="right"  data-toggle="tooltip" title="{{ text_reviews_title }}" href="{{ product['href'] }}#tab-review">{{ product['reviews'] }}</a></span>
										{% endif %}
									</span>
								</div>
							{% endif %}
							<div class="pq-box">
								{% if (product['price']) %}
									<div class="price" data-price-no-format="{{ product['price_no_format'] }}" data-special-no-format="{{ product['special_no_format'] }}">
									{% if (not product['special']) %}
									<span class="price_no_format">{{ product['price'] }}</span>
									{% else %}
									<span class="price-old"><span class="price_no_format">{{ product['price'] }}</span></span>
									{% if ((on_off_percent_discount == '1') and product['special']) %}
									<div class="stickers-skidka"><div class="sticker-ns procent-skidka">{{ product['skidka'] }} %</div></div>
									{% endif %}
									<span class="price-new"><span class="special_no_format">{{ product['special'] }}</span></span>
									{% endif %}
									{% if (product['tax']) %}
									<span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
									{% endif %}
									</div>
									{% if (setting_module['status_actions'] is not defined) %}
											{% if (config_additional_settings_newstore['quantity_btn_module'] is defined and (config_additional_settings_newstore['quantity_btn_module'] == '1')) %}
												<div class="quantity_plus_minus">
													<span class="add-up add-action">
														<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5">
															<path fill="#000" fill-rule="evenodd" d="M3.826 2.144a.5.5 0 00-.707.004L.856 4.438a.5.5 0 01-.712-.704l2.264-2.289a1.5 1.5 0 012.121-.012L6.852 3.73a.5.5 0 11-.704.711L3.826 2.144z" clip-rule="evenodd" />
														</svg>
													</span>
													<input type="text" class="quantity-num form-control" name="quantity" value="{{ product['minimum'] }}" data-minimum="{{ product['minimum'] }}" {% if (config_additional_settings_luxshop['quantity_multiple'] is defined and (config_additional_settings_luxshop['quantity_multiple'] == '1') and product['minimum'] > 1) %}disabled{% endif %}>
													<span class="add-down add-action">
														<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5">
															<path fill="#000" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd" />
														</svg>
													</span>
												</div>
											{% endif %}
										{% endif %}
								{% endif %}
								</div>
							{% if (setting_module['status_actions'] is not defined) %}
								<div class="actions">
									<div class="cart"><button class="btn btn-general" type="button" {% if ((product['product_quantity'] <= 0) and disable_cart_button) %}disabled{% else %}onclick="cart.add('{{ product['product_id'] }}',this)" {% endif %}><span class="icon-cart-add"></span><span class="text-cart-add">{% if (change_text_cart_button_out_of_stock == 1 and product['product_quantity'] <= 0) %}{{ disable_cart_button_text }}{% else %}{{ button_cart }}{% endif %}</span></button></div>
									<div class="addit-action">
									{% if (config_on_off_featured_quickview == '1') %}
										<div class="quickview"><button class="btn btn-quickview" onclick="quickview_open({{ product['product_id']}},'{{ all_prod is defined ? all_prod : 0 }}');"><span class="btn-icon-quickview"></span><span class="text-cart-quickview">{{ config_quickview_btn_name[lang_id]['config_quickview_btn_name'] }}</span></button></div>
									{% endif %}
									{% if (setting_module['status_fastorder'] is defined and (setting_module['status_fastorder'] == '1')) %}
										{% if ((not disable_fastorder_button and ((product['product_quantity'] <= 0) or product['product_quantity'] > 0)) or (disable_fastorder_button and product['product_quantity'] > 0)) %}
										<div class="quick-order">
											<button class="btn btn-fastorder" type="button" data-toggle="tooltip" onclick="fastorder_open({{ product['product_id']}});" title="{{ config_text_open_form_send_order[lang_id]['config_text_open_form_send_order'] }}" {% if ((product['product_quantity'] <= 0) and disable_fastorder_button) %}disabled{% endif %}>
												{% if (icon_open_form_send_order != '') %}
													<i class="{{ icon_open_form_send_order }} fa-fw"></i>
												{% else %}
													<span class="btn-icon-fastorder"></span>
												{% endif %}
											</button>
										</div>
										{% endif %}
									{% endif %}
									{% if (setting_module['status_wishlist'] is defined and (setting_module['status_wishlist'] == '1')) %}
										<div class="wishlist"><button class="btn btn-wishlist" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><span class="btn-icon-wishlist"></span></button></div>
									{% endif %}
									{% if (setting_module['status_compare'] is defined and (setting_module['status_compare'] == '1')) %}
										<div class="compare"><button class="btn btn-compare" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><span class="btn-icon-compare"></span></button></div>
									{% endif %}
									</div>
								</div>
							{% endif %}
						</div>
					</div>
				</div>
			{% endfor %}
			</div>
			</div>
		</div>
		</div>
		</div>
	{% endif %}
<script>
var row_items = 1;
{% if (setting_module['mobile_qrp'] == 1 and deviceType == 'phone') %}
var row_items = 2;
{% endif %}
owlSliderModule(".carousel_numb_featured{{ gen_carousel_featured }}", row_items);
</script>
	  {% if tags %}
		<p>{{ text_tags }}
		{% for i in 0..tags|length %}
		{% if i < (tags|length - 1) %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a>,
		{% else %} <a href="{{ tags[i].href }}">{{ tags[i].tag }}</a> {% endif %}
		{% endfor %} </p>
		{% endif %}
	  {{ content_bottom }}</div>
	{{ column_right }}</div>
</div>
<script>
{% if (fancybox == 0) %}
function openCyberGallery(){
  if ($('.thumbnails .image-additional .item').length > 0) {
	var currentSlickToGo = $('.slider-main-img').slick('slickCurrentSlide');
  } else {
	var currentSlickToGo = 0;
  }
	$.ajax({
	  url: 'index.php?route=product/product/getCyberGallery',
	  type: 'post',
	  dataType: 'html',
	  cache: false,
		data: { product_id: "{{ product_id }}", slickToGo: currentSlickToGo },
		success: function(data) {
			$.magnificPopup.open({
			  type: 'inline',
			  closeOnContentClick: false,
			  closeOnBgClick: false,
			  mainClass: 'mfp-zoom-in mfp-gallery-product',
			  items: {
				src: data,

			  }
			});
		}
	});
}
{% endif %}
$('.thumbnails #image-box').on('click', function(e){
  e.preventDefault();
  {% if (fancybox == 0) %}
  	openCyberGallery();
  	 return false;
  {% else %}
	if ($('.thumbnails .slider-main-img .item').length > 0) {
	    var opennumimage = $('.slider-main-img').slick('slickCurrentSlide');
	    var $links = $('[data-fancybox="gallery"]');
	    $.fancybox.open( $links, {}, opennumimage );
	    return false;
	  } else {
	    var $links = $that,
	    opts = { caption: $that.find('img').attr('title') };
	    $.fancybox.open( $links, opts, 0 );
	    return false;
	  }
  {% endif %}
});

{% if (config_status_zoom_image != '0') %}
  $(window).resize(function() {
	if ($(this).width() < 992) {
	  $('.main-image').removeClass('cloud-zoom');
	  $('.dop-img').removeClass('cloud-zoom-gallery');
	}
  });
if ($(window).width() > 992) {
  $('.main-image').addClass('cloud-zoom');
  $('.dop-img').addClass('cloud-zoom-gallery');
  $('.slider-main-img a.thumbnail').hover(function() {
	$('.mousetrap').remove();
	$(this).addClass('cloud-zoom');
	$('.cloud-zoom').CloudZoom({position: 'inside'});
  }, function() {
	if($(this).parent().is('#wrap')){
	  $(this).unwrap();
	}
	$(this).removeClass('cloud-zoom');
  });
}
{% endif %}
function optionimage(image, image_zoom,image_thumb) {
	{% if (images) %}
		if($('.option-image-new').length > 0) {
			var slideIndex = Number($('.slider-main-img .slick-slide:last-child').attr('data-slick-index'));
			$('.slider-main-img .item.option-image-new a').replaceWith('<a {% if (fancybox == 1) %}data-fancybox="gallery"{% endif %} class="thumbnail cloud-zoom" data-magnify-src="'+ image_zoom +'" href="'+ image_zoom +'"><img data-num="'+ slideIndex +'" src="'+ image +'" /></a>');
			$('.slider-main-img').slick('slickGoTo', Number($('.slider-main-img .slick-slide:last-child').attr('data-slick-index')),  true);
		} else {
			var num_im_last = Number($('.slider-main-img .slick-slide:last-child img').attr('data-num')) + 1;
			$('.slider-main-img').slick('slickAdd','<div><div class="item option-image-new"><a {% if (fancybox == 1) %}data-fancybox="gallery"{% endif %} class="thumbnail cloud-zoom" data-magnify-src="'+ image_zoom +'" href="'+ image_zoom +'"><img data-num="'+ num_im_last +'" src="'+ image +'" /></a></div></div>');
			$('.slider-main-img').slick('slickGoTo', Number($('.slider-main-img .slick-slide:last-child').attr('data-slick-index')),  true);
		}
	{% else %}
		$('.general-image').addClass('have-images');
		if($('.option-image-new').length > 0) {
			$('.slider-main-img .item.option-image-new a').replaceWith('<a {% if (fancybox == 1) %}data-fancybox="gallery"{% endif %} class="thumbnail cloud-zoom" data-magnify-src="'+ image_zoom +'" href="'+ image_zoom +'"><img data-num="1" src="'+ image +'" /></a>');
		} else {
			$('.slider-main-img').slick('slickAdd','<div><div class="item option-image-new"><a {% if (fancybox == 1) %}data-fancybox="gallery"{% endif %} class="thumbnail cloud-zoom" data-magnify-src="'+ image_zoom +'" href="'+ image_zoom +'"><img data-num="1" src="'+ image +'" /></a></div></div>');
		}
		if($('.image-additional').length > 0) {
			$('.op-img img').replaceWith('<img data-num="1" src="'+ image_thumb +'" />');
		}
		if($('.thumbnails .image-additional').length == 0) {
			$('.thumbnails').append('<div class="image-additional"><div class="item"><a class="thumbnail" href="javascript:void(0)"><img data-num="0" src="{{ thumb_min }}" /></a></div><div class="item"><a class="thumbnail op-img" href="javascript:void(0)"><img data-num="1" src="'+ image_thumb +'" /></a></div></div>');
			setTimeout(function () {
				$('.image-additional').slick({
				  vertical:true,
				  focusOnSelect: true,
				  asNavFor: '.slider-main-img',
				  adaptiveHeight: true,
				  infinite: false,
				  slidesToShow: 4,
				  prevArrow: "<div class='btn-slick-prev-v'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 49' width='40' height='16'><path d=\"M14.5824 24.2177L0.169802 1.64078C-0.133787 1.16522 -0.0203484 0.520408 0.43077 0.190628C0.896295 -0.149684 1.53586 -0.0208369 1.84885 0.469445L17 24.2034L1.85515 48.5205C1.54761 49.0143 0.909647 49.151 0.440354 48.8163C-0.0145324 48.4918 -0.134893 47.8483 0.163502 47.3692L14.5824 24.2177Z\"></path></svg></div>",
				  nextArrow: "<div class='btn-slick-next-v'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 49' width='40' height='16'><path d=\"M14.5824 24.2177L0.169802 1.64078C-0.133787 1.16522 -0.0203484 0.520408 0.43077 0.190628C0.896295 -0.149684 1.53586 -0.0208369 1.84885 0.469445L17 24.2034L1.85515 48.5205C1.54761 49.0143 0.909647 49.151 0.440354 48.8163C-0.0145324 48.4918 -0.134893 47.8483 0.163502 47.3692L14.5824 24.2177Z\"></path></svg></div>",
				  responsive: [{
					breakpoint: 992,
					settings: {
					  slidesToShow: 5,
					  vertical:false,
					  prevArrow: "<div class='btn-slick-prev-h'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 49' width='15' height='24'><path d=\"M14.5824 24.2177L0.169802 1.64078C-0.133787 1.16522 -0.0203484 0.520408 0.43077 0.190628C0.896295 -0.149684 1.53586 -0.0208369 1.84885 0.469445L17 24.2034L1.85515 48.5205C1.54761 49.0143 0.909647 49.151 0.440354 48.8163C-0.0145324 48.4918 -0.134893 47.8483 0.163502 47.3692L14.5824 24.2177Z\"></path></svg></div>",
					  nextArrow: "<div class='btn-slick-next-h'><svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 17 49' width='15' height='24'><path d=\"M14.5824 24.2177L0.169802 1.64078C-0.133787 1.16522 -0.0203484 0.520408 0.43077 0.190628C0.896295 -0.149684 1.53586 -0.0208369 1.84885 0.469445L17 24.2034L1.85515 48.5205C1.54761 49.0143 0.909647 49.151 0.440354 48.8163C-0.0145324 48.4918 -0.134893 47.8483 0.163502 47.3692L14.5824 24.2177Z\"></path></svg></div>",
					}
				   },
					{
					  breakpoint: 300,
					  settings: {slidesToShow: 3}
					}
				  ]
				});
				$('.image-additional').slick('initializeEvents');
				$('.slider-main-img').slick('slickGoTo', 1, true);
			}, 200);
		}
	{% endif %}
}

if ($(window).width() < 768) {
	$(document).on('click','#product .image-radio .image-option [data-toggle="tooltip"]', function(){
		var toolTipId = $(this).attr('aria-describedby');
		$('.tooltip').not('#'+ toolTipId).tooltip('hide');
		var $element_tooltip_mob = $(this);
		$element_tooltip_mob.tooltip({ placement: 'top', trigger: 'click' , container: 'body'});
		$element_tooltip_mob.tooltip('show');
	});
}

$('select[name=\'recurring_id\'], input[name="quantity"]').change(function(){
	$.ajax({
		url: 'index.php?route=product/product/getRecurringDescription',
		type: 'post',
		data: $('input[name=\'product_id\'], input[name=\'quantity\'], select[name=\'recurring_id\']'),
		dataType: 'json',
		beforeSend: function() {
			$('#recurring-description').html('');
		},
		success: function(json) {
			$('.alert, .text-danger').remove();

			if (json['success']) {
				$('#recurring-description').html(json['success']);
			}
		}
	});
});

$('#button-cart').on('click', function() {
	$.ajax({
		url: 'index.php?route=checkout/cart/add',
		type: 'post',
		data: $('#product input[type=\'text\'], #product input[type=\'hidden\'], #product input[type=\'radio\']:checked, #product input[type=\'checkbox\']:checked, #product select, #product textarea'),
		dataType: 'json',
		beforeSend: function() {
			$('#button-cart').button('loading');
		},
		complete: function() {
			$('#button-cart').button('reset');
		},
		success: function(json) {
			$('.alert, .text-danger, .add_product_alert,.option-danger').remove();
			$('.form-group').removeClass('has-error');

			if (json['error']) {
				if (json['error']['option']) {
				$('.options').removeClass('hidden-options');
					for (i in json['error']['option']) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json['error']['option'][i] + '</div>');
						}
						$('html, body').animate({ scrollTop: $('.options').offset().top - 10}, 250);
						setTimeout(function () {
						  $('.option-danger, .alert, .text-danger').remove();
						}, 7000);
						$('#top').before('<div class="alert option-danger"><img class="success-icon" alt="success-icon" src="catalog/view/theme/cyberstore/image/warning-icon.svg"><div class="text-modal-block">' + json['error']['option'][i] + '</div><button type="button" class="close" data-dismiss="alert">&times;</button></div>');

					}
				}

				if (json['error']['recurring']) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

				if (json['success']) {
				  if(json['popup_design']=='1'){
					fastorder_open_cart();
				  } else if(json['popup_design']=='0') {
					html  = '<div id="modal-addcart" class="modal fade" role="dialog">';
					html += '  <div class="modal-dialog" style="overflow:hidden">';
					html += '    <div class="modal-content">';
					if(json['show_onepcheckout']=='1'){
					html += '       <div class="modal-body"><div class="text-center">' + json['success'] + '<br><img style="margin:10px 0px;" src="'+ json['image_cart'] +'"  /><br></div><div><a href=' + link_onepcheckout + ' class="btn-checkout">'+ button_checkout +'</a><button data-dismiss="modal" class="btn-shopping">'+ button_shopping +'</button></div></div>';
					} else {
					html += '       <div class="modal-body"><div class="text-center">' + json['success'] + '<br><img style="margin:10px 0px;" src="'+ json['image_cart'] +'"  /><br></div><div><a href=' + link_checkout + ' class="btn-checkout">'+ button_checkout +'</a><button data-dismiss="modal" class="btn-shopping">'+ button_shopping +'</button></div></div>';
					}
					html += '    </div>';
					html += '  </div>';
					html += '</div>';
					$('body').append(html);
					$('#modal-addcart').modal('show');
				  } else {
					$('#top').before('<div class="alert add_product_alert"><img class="success-icon" alt="success-icon" src="catalog/view/theme/cyberstore/image/success-icon.svg"><div class="text-modal-block">' + json['success'] + '</div><button type="button" class="close" data-dismiss="alert">&times;</button></div>');
				  }
				  setTimeout(function () {
					$('.option-danger, .alert, .text-danger,.add_product_alert').remove();
				  }, 7000);
				  setTimeout(function () {
					$('.cart-total').html(json['total']);
				  }, 100);

				  $('#cart > ul').load('index.php?route=common/cart/info ul li');
				}
				$('#modal-addcart').on('hide.bs.modal', function (e) {
					$('#modal-addcart').remove();
				});
		}
	});
});
{% if (load_datetimepicker) %}
$('.date').datetimepicker({
	language: '{{ datepicker }}',
	pickTime: false
});

$('.datetime').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: true,
	pickTime: true
});

$('.time').datetimepicker({
	language: '{{ datepicker }}',
	pickDate: false
});
 {% endif %}
$('button[id^=\'button-upload\']').on('click', function() {
	var node = this;

	$('#form-upload').remove();

	$('body').prepend('<form enctype="multipart/form-data" id="form-upload" style="display: none;"><input type="file" name="file" /></form>');

	$('#form-upload input[name=\'file\']').trigger('click');

	if (typeof timer != 'undefined') {
		clearInterval(timer);
	}

	timer = setInterval(function() {
		if ($('#form-upload input[name=\'file\']').val() != '') {
			clearInterval(timer);

			$.ajax({
				url: 'index.php?route=tool/upload',
				type: 'post',
				dataType: 'json',
				data: new FormData($('#form-upload')[0]),
				cache: false,
				contentType: false,
				processData: false,
				beforeSend: function() {
					$(node).button('loading');
				},
				complete: function() {
					$(node).button('reset');
				},
				success: function(json) {
					$('.text-danger').remove();

					if (json['error']) {
						$(node).parent().find('input').after('<div class="text-danger">' + json['error'] + '</div>');
					}

					if (json['success']) {
						alert(json['success']);

						$(node).parent().find('input').val(json['code']);
					}
				},
				error: function(xhr, ajaxOptions, thrownError) {
					alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
				}
			});
		}
	}, 500);
});

$('#review').delegate('.pagination a', 'click', function(e) {
  e.preventDefault();

	$('#review').fadeOut('slow');

	$('#review').load(this.href);

	$('#review').fadeIn('slow');
});

$('#review').load('index.php?route=product/product/review&product_id={{ product_id }}');

$('#button-review').on('click', function() {
	$.ajax({
		url: 'index.php?route=product/product/write&product_id={{ product_id }}',
		type: 'post',
		dataType: 'json',
		data: $("#form-review").serialize(),
		beforeSend: function() {
			$('#button-review').button('loading');
		},
		complete: function() {
			$('#button-review').button('reset');
		},
		success: function(json) {
			$('.alert-success, .alert-danger').remove();

			if (json['error']) {
				$('#review').after('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + '</div>');
			}

			if (json['success']) {
				$('#review').after('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + '</div>');

				$('input[name=\'name\']').val('');
				$('#form-review textarea[name=\'plus\']').val('');
				$('#form-review textarea[name=\'minus\']').val('');
				$('textarea[name=\'text\']').val('');
				$('input[name=\'rating\']:checked').prop('checked', false);
			}
		}
	});
});
var url = document.location.toString();
if (url.match('#tab-review')) {
$('a[href=\'#tab-review\']').trigger('click');
}
$(document).ready(function() {
	$('.tabs__active_line').css({
		'width':$('.tabs__header__scroll .my-tabs li.active').outerWidth(),
		'left':$('.tabs__header__scroll .my-tabs li.active').offset().left - $('.tabs__header__scroll > .my-tabs').offset().left
	});
});
$('.tabs__header__scroll .my-tabs li a').click(function(){
	$('.tabs__active_line').css({
		'width':$(this).outerWidth(),
		'left':$(this).parent().offset().left - $('.tabs__header__scroll > .my-tabs').offset().left
	});

	let width_block = $('.tabs__header__scroll').width();
	let li_width = $(this).outerWidth();
	let li_left = $(this).parent().offset().left - $('.tabs__header__scroll > .my-tabs').offset().left;
	let goLeft = li_left - (width_block / 2) + (li_width / 2);
	if(goLeft > 0){
		$('.tabs__header__scroll').animate({scrollLeft:goLeft})
	} else {
		$('.tabs__header__scroll').animate({scrollLeft:0})
	}
	if (viewport().width < 768) {
		$('html, body').animate({ scrollTop: $('.tab-content').offset().top - 135}, 250);
	}
});
</script>
{% if (cyber_product_page_tabs is defined and cyber_product_page_tabs == '1') %}
<script>
  function addRightInfoProduct(){
	if($("#tabs_info_product_right .scroll-right-info").length==0) {
	  html_tipr = '<div class="scroll-right-info">';
	  {% if (ns_show_nextprev_prod) %}
	  html_tipr += '<div class="pr-next-prev"></div>';
	  {% endif %}
	  html_tipr += '<div class="pr-i"></div>';
	  html_tipr += '<div class="pr-n"></div>';
	  html_tipr += '<div class="pr-model"><span></span></div>';
	  html_tipr += '<div class="pr-stock"></div>';
	  html_tipr += '<div class="d-flex pr-price"></div>';
	  html_tipr += '<div class="d-flex actions"><div class="r-b dflex"></div></div>';
	  html_tipr += '</div>';

	  $('#tabs_info_product_right').append(html_tipr);
	  $('#tabs_info_product_right .pr-model span').html($('.info-product.p-model span').clone().text());
	  {% if (ns_show_nextprev_prod) %}
	  $('#product .nextprevprod').clone().appendTo('#tabs_info_product_right .pr-next-prev');
	  $('.prev-prod-btn').popover(prevPopoverProd);
	  $('.next-prod-btn').popover(nextPopoverProd);
	  {% endif %}
	  $('#tabs_info_product_right .scroll-right-info .pr-n').html($('h1.h1-prod-name').clone().text())
	  $('.main-image.thumbnail img').clone().appendTo('#tabs_info_product_right .pr-i');
	  $('#product .top-info-product .info-product').first().clone().appendTo('#tabs_info_product_right .pr-stock');
	  $('#product .price').clone().appendTo('#tabs_info_product_right .pr-price');
	  $('#product .actions .quantity-adder').clone().appendTo('#tabs_info_product_right .pr-price');
	  $('#product .actions #button-cart').clone().prependTo('#tabs_info_product_right .actions');
	  $('#tabs_info_product_right .actions .btn-general').removeAttr('id');
	  $('#tabs_info_product_right .actions .btn-general').attr('onclick','$("#button-cart").trigger("click")');
	  {% if (show_nsproduct_btn_fastorder == '1') %}
	  $('#product .actions .btn-fastorder').clone().appendTo('#tabs_info_product_right .actions .r-b');
	  {% endif %}
	  {% if (show_nsproduct_btn_wishlist == '1') %}
	  $('#product .actions .btn-wishlist').clone().appendTo('#tabs_info_product_right .actions .r-b');
	  {% endif %}
	  {% if (show_nsproduct_btn_compare == '1') %}
	  $('#product .actions .btn-compare').clone().appendTo('#tabs_info_product_right .actions .r-b');
	  {% endif %}
  }
  }
  $( document ).ready(function() {
	if (viewport().width > 991) {
	   addRightInfoProduct();
	   $('.tabs__header__scroll .my-tabs li a').click(function(){
		   if($(this).attr('href') !='#tab-info-product'){
				$('.product-page-tabs').addClass('plus_right_info_product');
			} else {
				$('.product-page-tabs').removeClass('plus_right_info_product');
			}
		});
	}
	$(window).resize(function() {
	  if (viewport().width > 991) {
		addRightInfoProduct();
	  } else {
		$('#tabs_info_product_right .scroll-right-info').remove();
	  }
	});
});
</script>
{% endif %}
{% if (fix_right_block is defined and (fix_right_block == '1')) %}
<script>
$( document ).ready(function() {
  var fix_rb = document.querySelector('#right-info');
  var inner_fix_rb = null;
  window.addEventListener('scroll', RightBlockScroll);
  document.body.addEventListener('scroll', RightBlockScroll);
  window.addEventListener('resize', RightBlockScroll);
  document.body.addEventListener('resize', RightBlockScroll);

function RightBlockScroll() {
	var top_rb = 10;
	if($('#top-fixed').length == 1) {
		if ($(window).width() > 992) {
			var top_rb = $('#top-fixed').outerHeight() + 10;
		}
	}
	if($('.fixed-menu-t2').length == 1) {

		var top_rb = $('.fixed-menu-t2').height() + 10;
	}
	if($('.fixed-top-header.active-fix').length == 1) {

		var top_rb = $('header').outerHeight() + 10;
	}

  if ($(window).width() > 992) {
  if (inner_fix_rb == null) {
	var Sa = getComputedStyle(fix_rb, ''), s = '';
	inner_fix_rb = document.createElement('div');
	inner_fix_rb.style.cssText = s + 'width: ' + fix_rb.offsetWidth + 'px;';
	fix_rb.insertBefore(inner_fix_rb, fix_rb.firstChild);
	var l = fix_rb.childNodes.length;
	for (var i = 1; i < l; i++) {
	  inner_fix_rb.appendChild(fix_rb.childNodes[1]);
	}
  }

	var Ra = fix_rb.getBoundingClientRect(),
	Rrb = Math.round(Ra.top + inner_fix_rb.getBoundingClientRect().height - document.querySelector('.cbp').getBoundingClientRect().bottom);
	Rrb2 = Math.round(Ra.top + inner_fix_rb.getBoundingClientRect().height - document.querySelector('.cbp').getBoundingClientRect().top);
   Rrb3 = Math.round(Ra.top + inner_fix_rb.getBoundingClientRect().height - document.querySelector('.cbp').getBoundingClientRect().top + 50);
  if ((Ra.top - top_rb + 20) <= 0) {
	if ((Ra.top - top_rb + 10) <= Rrb) {
	  inner_fix_rb.className = 'stop';
	  inner_fix_rb.style.top = - Rrb +'px';
	} else {
	  if ((Ra.top - top_rb) <= Rrb2) {
		if ((Ra.top - top_rb) <= Rrb3) {
		$('.cbp').addClass('col-md-offset-right-2');
		  if($("#right-info .scroll-right-info").length==0) {
			html_rb = '<div class="scroll-right-info">';
			{% if (ns_show_nextprev_prod) %}
			html_rb += '<div class="pr-next-prev"></div>';
			{% endif %}
			html_rb += '<div class="pr-i"></div>';
			html_rb += '<div class="pr-n"></div>';
			html_rb += '<div class="pr-model"><span></span></div>';
			html_rb += '<div class="pr-stock"></div>';
			html_rb += '<div class="d-flex pr-price"></div>';
			html_rb += '<div class="d-flex actions"><div class="r-b dflex"></div></div>';
			html_rb += '</div>';

			$('#right-info > div').append(html_rb);
			$('#right-info .pr-model span').html($('.info-product.p-model span').clone().text())
			{% if (ns_show_nextprev_prod) %}
			$('#product .nextprevprod').clone().appendTo('#right-info .pr-next-prev');
			$('.prev-prod-btn').popover(prevPopoverProd);
			$('.next-prod-btn').popover(nextPopoverProd);
			{% endif %}

			$('#right-info .scroll-right-info .pr-n').html($('h1.h1-prod-name').clone().text())
			$('.main-image.thumbnail img').clone().appendTo('#right-info .scroll-right-info .pr-i');
			$('#product .top-info-product .info-product').first().clone().appendTo('#right-info .scroll-right-info .pr-stock');
			$('#product .price').clone().appendTo('#right-info .scroll-right-info .pr-price');
			$('#product .actions .quantity-adder').clone().appendTo('#right-info .scroll-right-info .pr-price');
			$('#product .actions #button-cart').clone().prependTo('#right-info .scroll-right-info .actions');
			$('#right-info .scroll-right-info .actions .btn-general').removeAttr('id');
			$('#right-info .scroll-right-info .actions .btn-general').attr('onclick','$("#button-cart").trigger("click")');
			{% if (show_nsproduct_btn_fastorder == '1') %}
			$('#product .actions .btn-fastorder').clone().appendTo('#right-info .scroll-right-info .actions .r-b');
			{% endif %}
			{% if (show_nsproduct_btn_wishlist == '1') %}
			$('#product .actions .btn-wishlist').clone().appendTo('#right-info .scroll-right-info .actions .r-b');
			{% endif %}
			{% if (show_nsproduct_btn_compare == '1') %}
			$('#product .actions .btn-compare').clone().appendTo('#right-info .scroll-right-info .actions .r-b');
			{% endif %}
		  }
		} else {
		  $('.cbp').removeClass('col-md-offset-right-2');
		  if($("#right-info .scroll-right-info").length!=0) {
			$('#right-info .scroll-right-info').remove();
		  }
		}
	  }else{
		$('.cbp').removeClass('col-md-offset-right-2');
		if($("#right-info .scroll-right-info").length!=0) {
		  $('#right-info .scroll-right-info').remove();
		}
	  }
	  inner_fix_rb.className = 'sticky';
	  inner_fix_rb.style.top = top_rb + 'px';
	  inner_fix_rb.style.width = fix_rb.offsetWidth + 'px';
	}
	} else {
	inner_fix_rb.className = '';
	inner_fix_rb.style.top = '';
	if($("#right-info .scroll-right-info").length!=0) {
	  $('#right-info .scroll-right-info').remove();
	}
	$('.cbp').removeClass('col-md-offset-right-2');
  }

} else {
	if($("#right-info .scroll-right-info").length!=0) {
	  $('#right-info .scroll-right-info').remove();
	}
	$('.cbp').removeClass('col-md-offset-right-2');
}
}
});
</script>
{% endif %}
</div>
{{ footer }}