{{ header }}
<div class="container">
<div class="col-sm-12 content-box-cs {% if (menu_open_special is defined and ((menu_open_special == '1') and (main_menu == '1') and (column_left))) %}mtopm10{% endif %}">
<div class="breadcrumbs-box">
  <ul class="breadcrumb {% if (menu_open_special is defined and ((menu_open_special == '1') and (main_menu == '1') and (column_left))) %}col-md-offset-3 col-lg-offset-3{% endif %}">
		{% for i,breadcrumb in breadcrumbs %}
			{% if (i+1 < breadcrumbs|length) %}
				<li><a href="{{ breadcrumb.href }}"><span>{{ breadcrumb.text }}</span></a></li>
			{% else %}
				<li><span>{{ breadcrumb.text }}</span></li>
			{% endif %}
		{% endfor %}
	</ul>
</div>
  <div class="row">
  {% if (menu_open_special is defined and ((menu_open_special == '1') and (main_menu == '1') and (column_left))) %}
		<script>
		if(window.matchMedia("(min-width: 992px)").matches){
			$('.menu-list-dropdown').addClass("nsmenu-block");
			$(function(){$('#column-left').css({'margin-top': $('.menu-list-dropdown').outerHeight() - 20});});
		}
		$(window).resize(function() {
			if ($(window).width() > 992) {
				$('.menu-list-dropdown').addClass("nsmenu-block");
				$(function(){$('#column-left').css({'margin-top': $('.menu-list-dropdown').outerHeight() - 20});});
			} else {
				$('.menu-list-dropdown').removeClass("nsmenu-block");
				$('#column-left').removeAttr('style');
			}
		});
		</script>
	{% endif %}
  {{ column_left }}
	 {% if (column_left and column_right) %}
	 {% set class = 'col-sm-8 col-md-6' %}
	{% set cols_class = 'col-lg-6 col-md-6 col-sm-12 col-xs-12' %}
	 {% elseif (column_left or column_right) %}
	 {% set class = 'col-sm-8 col-md-9' %}
	{% set cols_class = 'col-lg-4 col-md-4 col-sm-6 col-xs-12' %}
	 {% else %}
	 {% set class = 'col-sm-12' %}
	{% set cols_class = 'col-lg-3 col-md-3 col-sm-6 col-xs-12' %}
	 {% endif %}
	 <div id="content" class="{{ class }} ns-smv">
		{{ content_top }}
		<h1>{{ heading_title }}</h1>
		{% if (products) %}
			<div class="view-box">
		<div class="row">
			<div class="col-xs-12 col-sm-12 localstorage dflex align-items-center justify-content-between">
				<div class="ls-limit-sorts dflex">
					<div class="btn-group mr-10">
						<button type="button" class="btn btn-sorts dropdown-toggle" data-toggle="dropdown">
							{% for sort_active in sorts %}{% if (sort_active['value'] == sort ~ '-' ~ order) %}{{ sort_active['text'] }}{% endif %}{% endfor %}
							<svg xmlns="http://www.w3.org/2000/svg" width="9" height="4" fill="none" viewBox="0 0 9 4"><path stroke="#000" stroke-linecap="round" d="M8 .8L5.118 2.882a1 1 0 01-1.162.006L1 .8"></path></svg>
						</button>
						<ul class="dropdown-menu dropdown-menu-left cs-dropdown">
							{% for sorts in sorts %}
								{% if (sorts['value'] == sort ~ '-' ~ order) %}
									<li class="active"><button class="btn-sort-link" onclick="location.href='{{ sorts['href'] }}'">{{ sorts['text'] }}</button></li>
								{% else %}
									<li><button class="btn-sort-link" onclick="location.href='{{ sorts['href'] }}'">{{ sorts['text'] }}</button></li>
								{% endif %}
							{% endfor %}
						</ul>
					</div>
					<div class="btn-group">
					  <ul class="dropdown-menu dropdown-menu-left cs-dropdown">
						{% set mmr_limit_active = '' %}
						{% for limits in limits %}
						{% if (limits['value'] == limit) %}
						<li class="active"><a href="{{ limits['href'] }}" rel="nofollow">{{ limits['text'] }}</a></li>
						{% set mmr_limit_active = limits['text'] %}
						{% else %}
						<li><a href="{{ limits['href'] }}" rel="nofollow">{{ limits['text'] }}</a></li>
						{% endif %}
						{% endfor %}
					  </ul>
					  <button type="button" class="btn btn-limits dropdown-toggle" data-toggle="dropdown" title="{{ text_limit }}">
						{{ mmr_limit_active is defined ? mmr_limit_active : limits['text'] }}
						<svg xmlns="http://www.w3.org/2000/svg" width="9" height="4" fill="none" viewBox="0 0 9 4"><path stroke="#000" stroke-linecap="round" d="M8 .8L5.118 2.882a1 1 0 01-1.162.006L1 .8"></path></svg>
					  </button>
					</div>
				</div>
				<div class="btn-group dflex localstorage visible-md visible-lg product_list_toolbar">
					<button type="button" id="list-view" class="btn btn-view" data-toggle="tooltip" title="{{ button_list }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
							<path stroke="#000" stroke-width="1.5" d="M4.8 1H1.2a.2.2 0 00-.2.2v3.029c0 .11.09.2.2.2h3.6a.2.2 0 00.2-.2V1.2a.2.2 0 00-.2-.2zM16.8 1H8.2a.2.2 0 00-.2.2v3.029c0 .11.09.2.2.2h8.6a.2.2 0 00.2-.2V1.2a.2.2 0 00-.2-.2zM4.8 7.286H1.2a.2.2 0 00-.2.2v3.028c0 .11.09.2.2.2h3.6a.2.2 0 00.2-.2V7.486a.2.2 0 00-.2-.2zM16.8 7.286H8.2a.2.2 0 00-.2.2v3.028c0 .11.09.2.2.2h8.6a.2.2 0 00.2-.2V7.486a.2.2 0 00-.2-.2zM4.8 13.571H1.2a.2.2 0 00-.2.2V16.8c0 .11.09.2.2.2h3.6a.2.2 0 00.2-.2v-3.029a.2.2 0 00-.2-.2zM16.8 13.571H8.2a.2.2 0 00-.2.2V16.8c0 .11.09.2.2.2h8.6a.2.2 0 00.2-.2v-3.029a.2.2 0 00-.2-.2z"/>
						</svg>
					</button>
					<button type="button" id="grid-view" class="btn btn-view active" data-toggle="tooltip" title="{{ button_grid }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
							<path stroke="#000" stroke-linecap="round" stroke-width="1.5" d="M6.5 1H2a1 1 0 00-1 1v4.5a1 1 0 001 1h4.5a1 1 0 001-1V2a1 1 0 00-1-1zM16 1h-4.5a1 1 0 00-1 1v4.5a1 1 0 001 1H16a1 1 0 001-1V2a1 1 0 00-1-1zM6.5 10.5H2a1 1 0 00-1 1V16a1 1 0 001 1h4.5a1 1 0 001-1v-4.5a1 1 0 00-1-1zM16 10.5h-4.5a1 1 0 00-1 1V16a1 1 0 001 1H16a1 1 0 001-1v-4.5a1 1 0 00-1-1z"/>
						</svg>
					</button>
					<button type="button" id="grid-view4" class="btn btn-view" data-toggle="tooltip" title="{{ button_grid }}">
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="none" viewBox="0 0 20 18">
							<path stroke="#000" stroke-width="1.5" d="M4.5 1h-3a.5.5 0 00-.5.5v5.4a.5.5 0 00.5.5h3a.5.5 0 00.5-.5V1.5a.5.5 0 00-.5-.5zM11.5 1h-3a.5.5 0 00-.5.5v5.4a.5.5 0 00.5.5h3a.5.5 0 00.5-.5V1.5a.5.5 0 00-.5-.5zM18.5 1h-3a.5.5 0 00-.5.5v5.4a.5.5 0 00.5.5h3a.5.5 0 00.5-.5V1.5a.5.5 0 00-.5-.5zM4.5 10.6h-3a.5.5 0 00-.5.5v5.4a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-5.4a.5.5 0 00-.5-.5zM11.5 10.6h-3a.5.5 0 00-.5.5v5.4a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-5.4a.5.5 0 00-.5-.5zM18.5 10.6h-3a.5.5 0 00-.5.5v5.4a.5.5 0 00.5.5h3a.5.5 0 00.5-.5v-5.4a.5.5 0 00-.5-.5z"/>
						</svg>
					</button>
					{% if (config_price_list_view_on_off_special_page) %}
						<button type="button" id="price-view" class="btn btn-view visible-lg" data-toggle="tooltip" title="{{ button_price }}">
							<svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="none" viewBox="0 0 18 18">
								<path stroke="#000" stroke-width="1.5" d="M16.8 1H1.2a.2.2 0 00-.2.2v3.029c0 .11.09.2.2.2h15.6a.2.2 0 00.2-.2V1.2a.2.2 0 00-.2-.2zM16.8 7.286H1.2a.2.2 0 00-.2.2v3.028c0 .11.09.2.2.2h15.6a.2.2 0 00.2-.2V7.486a.2.2 0 00-.2-.2zM1 16.8v-3.029c0-.11.09-.2.2-.2h15.6c.11 0 .2.09.2.2V16.8a.2.2 0 01-.2.2H1.2a.2.2 0 01-.2-.2z"/>
							</svg>
						</button>
					{% endif %}
					<div class="indicator-active"></div>
				</div>
			</div>
		</div>
		</div>
	  <div class="row-flex row-price category-page">
		  {% for product in products %}
			<div class="product-layout product-grid {{ cols_class }}">
				<div class="product-thumb dflex h-100">
					<div class="image">
						<div class="stickers-ns">
							{% if ((on_off_sticker_special == '1') and product['special']) %}
								<div class="sticker-ns special">
									<i class="fa {{ config_change_icon_sticker_special }} "></i>
									<span>{{ text_sticker_special[lang_id]['config_change_text_sticker_special'] }}</span>
								</div>
							{% endif %}
							{% if ((on_off_sticker_topbestseller == '1') and (product['top_bestsellers'] >= config_limit_order_product_topbestseller)) %}
								<div class="sticker-ns bestseller">
									<i class="fa {{ config_change_icon_sticker_topbestseller }} "></i>
									<span>{{ text_sticker_topbestseller[lang_id]['config_change_text_sticker_topbestseller'] }}</span>
								</div>
							{% endif %}
							{% if ((on_off_sticker_popular == '1') and (product['viewed']>=config_min_quantity_popular)) %}
								<div class="sticker-ns popular">
									<i class="fa {{ config_change_icon_sticker_popular }} "></i>
									<span>{{ text_sticker_popular[lang_id]['config_change_text_sticker_popular'] }}</span>
								</div>
							{% endif %}
							{% if ((on_off_sticker_newproduct == '1') and product.sticker_new_prod ) %}
								<div class="sticker-ns newproduct">
									<i class="fa {{ config_change_icon_sticker_newproduct }}"></i>
									{{ text_sticker_newproduct[lang_id]['config_change_text_sticker_newproduct'] }}
								</div>
							{% endif %}
						</div>
						<a href="{{ product['href'] }}"><img loading="lazy" decoding="async" width="{{ width }}" height="{{ height }}" {% if (lazyload_module) %}data-srcset="{{ product['thumb'] }}" srcset="{{ lazy_image }}" src="{{ product['thumb'] }}" {% else %}src="{{ product['thumb'] }}" {% endif %} alt="{{ product['name'] }}" title="{{ product['name'] }}" class="img-responsive {% if (lazyload_module) %}lazyload{% endif %}" {% if (product['additional_image_hover']) %}data-additional-hover="{{ product['additional_image_hover'] }}" {% endif %} /></a>
						{% if (show_special_timer_page == '1' and product['special']) %}
							<div class="action-timer">
								<div class="timer_inner" data-date-end="{{ product['date_end'] }}"></div>
							</div>
						{% endif %}
					</div>
					<div class="caption dflex flex-grow-1">
						<div class="list-left-block">
							<div class="product-name"><a href="{{ product['href'] }}">{{ product['name'] }}</a></div>
							{% if (show_stock_status) %}
								<div class="box-stock-status">
								{% if (product['product_quantity'] <= 0) %}
									<div class="stock-status outofstock">{{ product['stock_status'] }}</div>
								{% else %}
									<div class="stock-status instock">
										<svg class="hidden" xmlns="http://www.w3.org/2000/svg" width="13" height="13" fill="none" viewBox="0 0 13 13"><path fill="#00BC52" d="M8.681 4.615a.5.5 0 01.702.707l-.064.063-3.914 3.237-1.681-1.115a.5.5 0 01.473-.876l.08.042 1.062.705 3.342-2.763z"/><path fill="#00BC52" fill-rule="evenodd" d="M12 6.5a5.5 5.5 0 10-11 0 5.5 5.5 0 0011 0zm-10 0a4.5 4.5 0 119 0 4.5 4.5 0 01-9 0z" clip-rule="evenodd"/></svg>
										{{ text_instock }}
									</div>
								{% endif %}
								</div>
							{% endif %}
							{% if (ns_on_off_special_page_model_product != '0') %}
								<div class="product-model">{{ product['model']}}</div>
							{% endif %}
							{% if (ns_on_off_special_page_description != '0') %}
								<div class="product-description">{{ product['description'] }}</div>
							{% endif %}
							{% if (show_options) %}
							<div id="option_productpage_{{ product['product_id'] }}" class="option productpage-opt">
							{% for key,option in product['options'] %}
							{% if (option['type'] == 'select') %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label">{{ option['name'] }}</label>
										<div id="input-option-productpage{{ option['product_option_id'] }}">
											<select onchange="recalc_quantity({{ product['product_id'] }},{{ product['minimum'] }},{{ product['price_no_format'] }},'{{ product['special_no_format'] }}','.row-price','productpage');" name="option[{{ option['product_option_id'] }}]" id="input-value-{{ option['product_option_id'] }}_productpage" class="form-control">
												<option value="">{{ text_select }}</option>
												{% for option_value in option['product_option_value'] %}
												<option data-option-prefix="{{ option_value['price_prefix'] }}" data-option-price="{{ option_value['price_value'] }}" value="{{ option_value['product_option_value_id'] }}">{{ option_value['name'] }}
												{% if (option_value['price']) %}
												({{ option_value['price_prefix'] }}{{ option_value['price'] }})
												{% endif %}
												</option>
												{% endfor %}
											</select>
									  </div>
									</div>
								{% endif %}
								{% if (option['type'] == 'radio') %}
									<div class="form-group{% if option.required %} required {% endif %}">
										<label class="control-label">{{ option['name'] }}</label>
									  <div id="input-option-productpage{{ option['product_option_id'] }}">
										{% for option_value in option['product_option_value'] %}
											{% if (option_value['image'] or option_value['color']) %}
												{% if (option['status_color_type'] == '1') %}
													<div class="image-radio">
													  <label>
														<input data-option-prefix="{{ option_value['price_prefix'] }}" data-option-price="{{ option_value['price_value'] }}" onchange="recalc_quantity({{ product['product_id'] }},{{ product['minimum'] }},{{ product['price_no_format'] }},'{{ product['special_no_format'] }}','.row-price','productpage');" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" />
														<span for="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" class="color-option" data-toggle="tooltip" title="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" style="background-color:{{ option_value['color']}}"></span>
													  </label>
													</div>
												{% else %}
													<div class="image-radio">
													  <label>
														<input data-option-prefix="{{ option_value['price_prefix'] }}" data-option-price="{{ option_value['price_value'] }}" onchange="recalc_quantity({{ product['product_id'] }},{{ product['minimum'] }},{{ product['price_no_format'] }},'{{ product['special_no_format'] }}','.row-price','productpage');" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" />
														<span class="image-option">
														<img for="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" class="img-thumbnail" data-toggle="tooltip" title="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" />
														</span>
													  </label>
													</div>
												{% endif %}
											{% else %}
												<div class="radio-checbox-options">
													<input data-option-prefix="{{ option_value['price_prefix'] }}" data-option-price="{{ option_value['price_value'] }}" onchange="recalc_quantity({{ product['product_id'] }},{{ product['minimum'] }},{{ product['price_no_format'] }},'{{ product['special_no_format'] }}','.row-price','productpage');" type="radio" name="option[{{ option['product_option_id'] }}]" value="{{ option_value['product_option_value_id'] }}" id="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" />
													<label for="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage">
														<span class="option-name">{{ option_value['name'] }}</span>
														{% if (option_value['price']) %}
														<span class="option-price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
														{% endif %}
													</label>
												</div>
											{% endif %}
										{% endfor %}
									  </div>
									</div>
									{% endif %}
									{% if (option['type'] == 'checkbox') %}
									<div class="form-group{% if option.required %} required {% endif %}">
									  <label class="control-label">{{ option['name'] }}</label>
									  <div id="input-option-productpage{{ option['product_option_id'] }}">
										{% for option_value in option['product_option_value'] %}
											{% if (option_value['image'] or option_value['color']) %}
												{% if (option['status_color_type'] == '1') %}
													<div class="image-radio">
													  <label>
														<input data-option-prefix="{{ option_value['price_prefix'] }}" data-option-price="{{ option_value['price_value'] }}" onchange="recalc_quantity({{ product['product_id'] }},{{ product['minimum'] }},{{ product['price_no_format'] }},'{{ product['special_no_format'] }}','.row-price','productpage');" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" id="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" />
														<span for="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" class="color-option" data-toggle="tooltip" title="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" style="background-color:{{ option_value['color']}}"></span>
													  </label>
													</div>
												{% else %}
													<div class="image-radio">
													  <label>
														<input data-option-prefix="{{ option_value['price_prefix'] }}" data-option-price="{{ option_value['price_value'] }}" onchange="recalc_quantity({{ product['product_id'] }},{{ product['minimum'] }},{{ product['price_no_format'] }},'{{ product['special_no_format'] }}','.row-price','productpage');" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" id="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" />
														<span class="image-option">
														<img for="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" src="{{ option_value['image'] }}" alt="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" class="img-thumbnail" data-toggle="tooltip" title="{{ option_value['name'] ~ (option_value['price'] is not empty ? ' ' ~ option_value['price_prefix'] ~ option_value['price'] : '') }}" />
														</span>
													  </label>
													</div>
												{% endif %}
											{% else %}
												<div class="radio-checbox-options">
													<input data-option-prefix="{{ option_value['price_prefix'] }}" data-option-price="{{ option_value['price_value'] }}" onchange="recalc_quantity({{ product['product_id'] }},{{ product['minimum'] }},{{ product['price_no_format'] }},'{{ product['special_no_format'] }}','.row-price','productpage');" type="checkbox" name="option[{{ option['product_option_id'] }}][]" value="{{ option_value['product_option_value_id'] }}" id="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage" />
													<label for="input-value-{{ option['product_option_id'] }}_{{ option_value['product_option_value_id'] }}_productpage">
														<span class="option-name">{{ option_value['name'] }}</span>
														{% if (option_value['price']) %}
														<span class="option-price">{{ option_value['price_prefix'] }}{{ option_value['price'] }}</span>
														{% endif %}
													</label>
												</div>
											{% endif %}
										{% endfor %}
									  </div>
									</div>
									{% endif %}
								{% endfor %}
						</div>
					{% endif %}
				{% if (ns_on_off_special_page_rating != '0') %}
				 <div class="rating">
				 <span class="rating-box">
						{% set i = 1 %}{% for i in i..5 %}
								{% if (product['rating'] < i) %}
							<span class="product-rating-star">
								<svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 8.75L3.47287 9.81573C2.73924 10.2014 1.88181 9.57846 2.02192 8.76155L2.40907 6.50431L0.769082 4.90572C0.175565 4.32718 0.503075 3.31921 1.3233 3.20002L3.5897 2.87069L4.60326 0.816985C4.97008 0.0737394 6.02992 0.0737402 6.39674 0.816986L7.4103 2.87069L9.67671 3.20002C10.4969 3.31921 10.8244 4.32718 10.2309 4.90572L8.59093 6.50431L8.97808 8.76155C9.11819 9.57846 8.26076 10.2014 7.52713 9.81573L5.5 8.75Z" fill="#EFEFEF"/>
								</svg>
							</span>
						{% else %}
							<span class="product-rating-star">
								<svg width="11" height="10" viewBox="0 0 11 10" fill="none" xmlns="http://www.w3.org/2000/svg">
									<path fill-rule="evenodd" clip-rule="evenodd" d="M5.5 8.75L3.47287 9.81573C2.73924 10.2014 1.88181 9.57846 2.02192 8.76155L2.40907 6.50431L0.769082 4.90572C0.175565 4.32718 0.503075 3.31921 1.3233 3.20002L3.5897 2.87069L4.60326 0.816985C4.97008 0.0737394 6.02992 0.0737402 6.39674 0.816986L7.4103 2.87069L9.67671 3.20002C10.4969 3.31921 10.8244 4.32718 10.2309 4.90572L8.59093 6.50431L8.97808 8.76155C9.11819 9.57846 8.26076 10.2014 7.52713 9.81573L5.5 8.75Z" fill="#E5DB77"/>
								</svg>
							</span>
						{% endif %}
						{% endfor %}
				  {% if (ns_on_off_special_page_quantity_reviews != '0') %}
				  <span class="quantity-reviews"><a data-placement="right"  data-toggle="tooltip" title="{{ text_reviews_title }}" href="{{ product['href'] }}#tab-review">{{ product['reviews'] }}</a></span>
					{% endif %}
					</span>
				</div>
				 {% endif %}
				 </div>
				<div class="list-right-block">
				 <div class="pq-box">
				 {% if (product['price']) %}
					<div class="price" data-price-no-format="{{ product['price_no_format'] }}" data-special-no-format="{{ product['special_no_format'] }}">
					{% if (not product['special']) %}
					<span class="price_no_format">{{ product['price'] }}</span>
					{% else %}
					<span class="price-old"><span class="price_no_format">{{ product['price'] }}</span></span>
					{% if ((on_off_percent_discount == '1') and product['special']) %}
					<div class="stickers-skidka"><div class="sticker-ns procent-skidka">{{ product['skidka'] }} %</div></div>
					{% endif %}
					<span class="price-new"><span class="special_no_format">{{ product['special'] }}</span></span>
					{% endif %}
					{% if (product['tax']) %}
					<span class="price-tax">{{ text_tax }} {{ product['tax'] }}</span>
					{% endif %}
					</div>
						{% if (status_actions is not defined) %}
							{% if (config_additional_settings_newstore['quantity_btn_page'] is defined and (config_additional_settings_newstore['quantity_btn_page'] == '1')) %}
								<div class="quantity_plus_minus">
									<span class="add-up add-action">
										<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5">
											<path fill="#000" fill-rule="evenodd" d="M3.826 2.144a.5.5 0 00-.707.004L.856 4.438a.5.5 0 01-.712-.704l2.264-2.289a1.5 1.5 0 012.121-.012L6.852 3.73a.5.5 0 11-.704.711L3.826 2.144z" clip-rule="evenodd" />
										</svg>
									</span>
									<input type="text" class="quantity-num form-control" name="quantity" value="{{ product['minimum'] }}" data-minimum="{{ product['minimum'] }}" {% if (config_additional_settings_luxshop['quantity_multiple'] is defined and (config_additional_settings_luxshop['quantity_multiple'] == '1') and product['minimum'] > 1) %}disabled{% endif %}>
									<span class="add-down add-action">
										<svg xmlns="http://www.w3.org/2000/svg" width="7" height="5" fill="none" viewBox="0 0 7 5">
											<path fill="#000" fill-rule="evenodd" d="M3.174 2.856a.5.5 0 00.707-.004L6.144.562a.5.5 0 01.712.704L4.592 3.555a1.5 1.5 0 01-2.121.012L.148 1.27A.5.5 0 11.852.559l2.322 2.297z" clip-rule="evenodd" />
										</svg>
									</span>
								</div>
							{% endif %}
						{% endif %}
					{% endif %}
				</div>
				{% if (status_actions is not defined) %}
					<div class="actions">
						<div class="cart"><button class="btn btn-general" type="button" {% if ((product['product_quantity'] <= 0) and disable_cart_button) %}disabled{% else %}onclick="cart.add('{{ product['product_id'] }}',this)" {% endif %}><span class="icon-cart-add"></span><span class="text-cart-add">{% if (change_text_cart_button_out_of_stock == 1 and product['product_quantity'] <= 0) %}{{ disable_cart_button_text }}{% else %}{{ button_cart }}{% endif %}</span></button></div>
						<div class="addit-action">
						{% if (config_on_off_special_page_quickview == '1') %}
							<div class="quickview"><button class="btn btn-quickview" onclick="quickview_open({{ product['product_id']}},'{{ all_prod is defined ? all_prod : 0 }}');"><span class="btn-icon-quickview"></span><span class="text-cart-quickview">{{ config_quickview_btn_name[lang_id]['config_quickview_btn_name'] }}</span></button></div>
						{% endif %}
						{% if (ns_on_off_special_page_fastorder is defined and (ns_on_off_special_page_fastorder == '1')) %}
							{% if ((not disable_fastorder_button and ((product['product_quantity'] <= 0) or product['product_quantity'] > 0)) or (disable_fastorder_button and product['product_quantity'] > 0)) %}
							<div class="quick-order">
								<button class="btn btn-fastorder" type="button" data-toggle="tooltip" onclick="fastorder_open({{ product['product_id']}});" title="{{ config_text_open_form_send_order[lang_id]['config_text_open_form_send_order'] }}" {% if ((product['product_quantity'] <= 0) and disable_fastorder_button) %}disabled{% endif %}>
									{% if (icon_open_form_send_order != '') %}
										<i class="{{ icon_open_form_send_order }} fa-fw"></i>
									{% else %}
										<span class="btn-icon-fastorder"></span>
									{% endif %}
								</button>
							</div>
							{% endif %}
						{% endif %}
						{% if (ns_on_off_special_page_wishlist == 1) %}
							<div class="wishlist"><button class="btn btn-wishlist" type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product['product_id'] }}');"><span class="btn-icon-wishlist"></span></button></div>
						{% endif %}
						{% if (ns_on_off_special_page_compare == 1) %}
							<div class="compare"><button class="btn btn-compare" type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product['product_id'] }}');"><span class="btn-icon-compare"></span></button></div>
						{% endif %}
						</div>
					</div>
				{% endif %}
				</div>
				</div>
			 </div>
		  </div>
		  {% endfor %}
		</div>
		<div class="row">
		  <div class="col-sm-12 text-center">{{ pagination }}</div>
		  <div class="col-sm-12 text-right">{{ results }}</div>
		</div>
		{% else %}
		<p>{{ text_empty }}</p>
		<div class="buttons">
		  <div class="pull-right"><a href="{{ continue }}" class="btn btn-primary">{{ button_continue }}</a></div>
		</div>
		{% endif %}
		{{ content_bottom }}</div>
	 {{ column_right }}</div>
</div>
</div>
{{ footer }}